{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <div class="center-align-wrapper">
        <div class="account-form-wrapper">
            <form action="" method="post">
                <h1>
                    {% trans "Reset Password" %}
                </h1>
                {% csrf_token %}

                <div class="password-input-wrapper">
                    <div class="pass-icon"></div>
                    <input id="id_new_password1" name="new_password1" type="password" placeholder="PASSWORD">
                </div>

                <div class="password-input-wrapper">
                    <div class="pass-icon"></div>
                    <input id="id_new_password2" name="new_password2" type="password" placeholder="PASSWORD CONFIRMATION">
                </div>
              
                <input type="submit" class="submit standart button" value="{% trans "Reset password" %}" />
            </form>
        </div>
    </div>
{% endblock %}
