{% extends 'base-with-advertising.html' %} 
{% load date_formatting %}
{% load cropping %}
{% load advertising_tags %}
{% load gears %}

{% block meta %}
    <title>City Fusion - {{ page_info.meta_title }}</title>
    <meta name="keywords" content="{{ page_info.meta_keywords }}" />
    <meta name="description" content="{{ page_info.meta_description }}" />
{% endblock meta %}

{% block head %}
    {% css_asset_tag 'browse-events-combine.css' %}
    <script type="text/javascript" src="{{STATIC_URL}}turbolinks/turbolinks.js"></script>
    {% js_asset_tag 'browse-events-combine.js' %}    
{% endblock %}


{% block title %} 
    &gt; Browse
{% endblock %}

{% block body_attributes %}class="home"{% endblock %}

{% block advertising %}
    <div>
        <div class="rotation-right-container">
            {% advertising_group "300x600|300x250|300x100" %}
        </div>
    </div>
{% endblock %}

{% block featured %}
    {% include 'events/_event_featured.html' %}
{% endblock %}

{% block page %}
    <div id="fb-root"></div>

    {% if messages %}
        <div class="msg">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message }}</h3></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="primary-content">
        <div class="content">            
            {% include 'events/_browse_left_menu.html' %}
            {% include 'events/_browse_events_container.html' %}
        </div>
    </div>
{% endblock %}

{% block advertising_footer %}{% endblock %}
