{% extends 'base-with-advertising.html' %}
{% load date_formatting %}
{% load cropping %}
{% load query_filter %}
{% load event_tags %}
{% load endless %}
{% load advertising_tags %}
{% load admin_event_actions %}
{% load common_tags %}
{% load url_tags %}
{% load location %}
{% load gears %}

{% block meta %}
    <title>{{ event.extended_name }}</title>
    <meta name="keywords" content="{{ event.tags_as_string }}" />
    <meta name="description" content="{{ event.short_description }}" />
{% endblock meta %}

{% block head %}
    <meta property="og:title" content="{{event.name}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}/events/view/{{event.slug}}/" />
    {% if event.picture %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{% cropped_thumbnail event.image "cropping" height=200 %}" />
    {% else %}
        <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{STATIC_URL}}images/default-event.jpg" />
    {% endif %}
    <meta property="og:site_name" content="Cityfusion" />
    <meta property="og:description" content="{{ event.event_description|striptags|safe }}" />
    <meta property="fb:admins" content="100000796428679" />

    {% css_asset_tag 'event-detail-page-combine.css' %}

    <script src="{{ 'http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en'|htmlspecialchars|safe }}"></script>
    <script>
        var venue_latitude = {{ event.venue.location.y }},
            venue_longtitude = {{ event.venue.location.x }},
            crsf_token = "{{ csrf_token }}";
    </script>

    {% js_asset_tag 'event-detail-page-combine.js' %}

{% endblock %}

{% block messages %}
    {% if messages %}
        <ul class="messages" data-no-hide="true">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <button type="button" class="close">×</button>
                    {{ message|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}
{% block page %}
    <div id="fb-root"></div>
    <div class="primary-content event-details-primary-content">
        <div class="event-details__container" itemscope itemtype="http://data-vocabulary.org/Event">
            <header class="event-details__title">
                <a href="{% event_link event %}" title="{{ event.extended_name }}" itemprop="url">
                    <span itemprop="summary">
                        {{ event.extended_name|shorten_string:58 }}
                    </span>
                </a>
            </header>
            <div class="event-wrapper">
                {% manage_event_actions %}
                <table>
                    <tr>
                        <td>
                            <div class="event-photo{% if event.event_type == "MULTIDAY" %}{% if not event.venue_account_owner or not event.venue_account_owner.public %} multiday{% endif %}{% endif %}">
                                {% if event.sorted_images.count > 1 %}
                                    <div class="image-viewer">
                                        <div class="image-viewer-content">
                                        {% for image in event.sorted_images %}
                                            <a id="photoFancy" data-fancybox-group="galery" href="/media/{{ image.picture }}">
                                                <img class="center-cropped"
                                                     src="{% cropped_thumbnail image "cropping" height=265 %}"
                                                     width="265"
                                                     height="265"
                                                     alt=""
                                                     {% if forloop.first %}itemprop="photo"{% endif %} />
                                                <div class="detail-view"></div>
                                            </a>
                                        {% endfor %}
                                        </div>

                                        <div class="image-viewer-controls">
                                            <div class="next" data-ga-label="Photo Scroll Link"><i class="white-arrow white-arrow_pos_next"></i></div>
                                            <div class="prev"><i class="white-arrow white-arrow_pos_prev"></i></div>
                                            <span class="page-no">1</span> of <span id="images-total">{{ event.sorted_images.count }}</span>
                                        </div>
                                    </div>
                                {% elif event.sorted_images.count > 0 %}
                                    {% for image in event.sorted_images %}
                                        <a id="photoFancy" data-fancybox-group="galery" href="/media/{{ image.picture }}">
                                            <img class="center-cropped"
                                                 src="{% cropped_thumbnail image "cropping" height=265 %}"
                                                 width="265"
                                                 height="265"
                                                 alt=""
                                                 {% if forloop.first %}itemprop="photo"{% endif %} />
                                            <div class="detail-view"></div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <div class="center-cropped default" style="background-image: url('{{STATIC_URL}}images/default-event.jpg');"></div>
                                {% endif %}
                                {% if event.venue_account_owner and event.venue_account_owner.public %}
                                <footer>
                                    Submitted by
                                    <a href="{% url 'public_venue_account' event.venue_account_owner.slug %}">
                                        {{ event.venue_account_owner.venue.name }}
                                    </a>
                                </footer>
                                {% endif %}
                            </div>
                        </td>
                        <td class="event-details-td">
                            <div class="event-details-block">
                                <div class="event-details">
                                    <div class="title-wrapper">
                                        <div class="event-price">
                                            {% if event.price and event.price != "$" %}
                                                {{event.price}}
                                            {% else %}
                                                Price not set
                                            {% endif %}
                                        </div>
                                        {% if event.tickets %}
                                            <a href="javascript:void(0);"  class="action-buy-tickets accented">
                                                Buy tickets
                                            </a>
                                            {% buy_tickets_popup event %}
                                        {% endif %}
                                    </div>
                                    <table class="event-date-and-venue">
                                        <tr>
                                            <td>
                                                <div class="event-date-wrapper">
                                                    {% if event.event_type == "SINGLE" %}
                                                        {{ event.start_time|date:"l, N d" }}
                                                        <time itemprop="startDate" datetime="{{ event.start_time|date:"c" }}"></time>
                                                        <time itemprop="endDate" datetime="{{ event.end_time|date:"c" }}"></time>
                                                    {% endif %}
                                                    {% if event.event_type == "MULTIDAY" %}
                                                        {{ event.first_occurrence.start_time|date:"D, N d" }} - {{ event.last_occurrence.end_time|date:"D, N d" }}
                                                        <time itemprop="startDate" datetime="{{ event.first_occurrence.start_time|date:"c" }}"></time>
                                                        <time itemprop="endDate" datetime="{{ event.last_occurrence.end_time|date:"c" }}"></time>
                                                    {% endif %}
                                                </div>
                                                <div class="event-venue" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
                                                    {% if event.venue.venue_account %}
                                                        <a href="{% url "public_venue_account" event.venue.venue_account.slug %}"
                                                           itemprop="name">
                                                            {{ event.venue.name }}
                                                        </a>
                                                    {% else %}
                                                        <span itemprop="name">{{ event.venue.name }}</span>
                                                    {% endif %}
                                                    <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                                        {% if event.venue.street %}
                                                            <span itemprop="street-address">
                                                                {% if event.venue.street_number %}{{ event.venue.street_number }} {% endif %}{{ event.venue.street }}
                                                            </span>
                                                        {% endif %}
                                                        <div class="event-venue-name">
                                                            {{ event.venue.city.name_std }}, {{ event.venue.city.region.name_std|region_shortcut }}
                                                            <span class="hidden" itemprop="locality">{{ event.venue.city.name_std }}</span>
                                                            <span class="hidden" itemprop="region">{{ event.venue.city.region.name_std|region_shortcut }}</span>
                                                        </div>
                                                    </span>
                                                    <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
                                                        <meta itemprop="latitude" content="{{ event.venue.location.y }}" />
                                                        <meta itemprop="longitude" content="{{ event.venue.location.x }}" />
                                                    </span>
                                                </div>
                                            </td>
                                            {% if event.venue %}
                                            <td>
                                                <div class="venue_map_preview">
                                                    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.venue.location.y }},{{ event.venue.location.x }}&amp;zoom=13&amp;size=127x90&amp;maptype=roadmap&amp;markers=color:blue%7C{{ event.venue.location.y }},{{ event.venue.location.x }}&amp;sensor=false" alt="" />
                                                </div>
                                                <div id="venue_map" class="map"></div>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    </table>
                                </div>
                                <div class="events-occurrences">
                                    <div class="header">
                                        <ul class="event-days">
                                            {% if event.event_type == "SINGLE" %}
                                                <li>
                                                    <div class="event-day-switch active" >
                                                         {{ event.start_time|date:"D, M d" }}
                                                    </div>
                                                </li>

                                            {% endif %}
                                            {% if event.event_type == "MULTIDAY" %}
                                                {% for key, occurrences in event.sorted_occurrences_days.items %}
                                                <li>
                                                    <div class="event-day-switch{% if forloop.first and occurrences.0.start_time > now %} active{% endif %}{% if occurrences.0.start_time.date == now.date %} active{% endif %}" data-day="{{ occurrences.0.start_time|date:"Y-m-d" }}" data-counter="{{ forloop.counter }}">
                                                         {{ occurrences.0.start_time|date:"D, M d" }}
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                        {% if event.event_type == "MULTIDAY" %}
                                            {% if event.sorted_occurrences_days.items.count > 3 %}
                                                <div class="days-viewer-controls">
                                                    <div class="next"><i class="icon-chevron-right"></i></div>
                                                    <div class="prev"><i class="icon-chevron-left"></i></div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>

                                    <div class="clear"></div>

                                    <div class="show-times">
                                        {% if event.event_type == "SINGLE" %}
                                            <div class="show-times-wrapper">
                                                <table>
                                                    {% for occurrence in event.same_date_events %}
                                                        <tr>
                                                            <td>
                                                                <span>
                                                                    {{occurrence.start_time|just_time|lower}}
                                                                </span>
                                                            </td>
                                                            <td><span>-</span></td>
                                                            <td>
                                                                <span>
                                                                    {{occurrence.end_time|just_time|lower}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                </table>

                                            </div>
                                        {% endif %}
                                        {% if event.event_type == "MULTIDAY" %}
                                            {% for key, occurrences in event.sorted_occurrences_days.items %}
                                            <div class="show-time-day{% if forloop.first and occurrences.0.start_time > now %} active{% endif %}{% if occurrences.0.start_time.date == now.date %} active{% endif %}" data-day="{{ occurrences.0.start_time|date:"Y-m-d" }}">
                                                <div class="show-times-wrapper">
                                                    <table>
                                                        {% for occurrence in occurrences %}
                                                            <tr>
                                                                <td>
                                                                    <span>
                                                                        {{occurrence.start_time|just_time|lower}}
                                                                    </span>
                                                                </td>
                                                                <td><span>-</span></td>
                                                                <td>
                                                                    <span>
                                                                        {{occurrence.end_time|just_time|lower}}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="event-details-bottom">
                                    <div class="event-actions">
                                        <div class="relative-wrapper">
                                            <a href="javascript:void(0);" class="action-remind-me" data-single-event-id="{{ event.id }}">Remind Me</a>
                                            {% remind_me_popup event %}
                                        </div>
                                        <div class="relative-wrapper">
                                            <a href="javascript:void(0);" class="action-in-the-loop">In the Loop</a>
                                            {% in_the_loop_popup event %}
                                        </div>
                                        <div class="relative-wrapper">
                                            <a href="{{ event.website }}" class="action-view-site" target="_blank">
                                                View Site
                                            </a>
                                        </div>
                                    </div>

                                    <div class="social-buttons">
                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                                            <a class="addthis_button_facebook"></a>
                                            <a class="addthis_button_twitter"></a>
                                            <a class="addthis_button_pinterest_share"></a>
                                            <a class="addthis_button_google_plusone_share"></a>
                                            <a class="addthis_button_linkedin"></a>
                                            <a class="addthis_button_myspace"></a>
                                            <a class="addthis_button_blogger"></a>
                                            <a class="addthis_button_email"></a>
                                            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                                        </div>

                                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527be736493dac67"></script>
                                        <!-- AddThis Button END -->
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                {% if event.event_type == "MULTIDAY" %}
                    <div class="description">
                        {% for occurrence in event.sorted_occurences_for_description %}
                            {% if occurrence.event_description %}
                                <div class="show-day-description {% if forloop.first and occurrence.start_time > now %} active{% endif %}{% if occurrence.start_time.date == now.date %} active{% endif %}"
                                     data-day="{{ occurrence.start_time|date:"Y-m-d" }}">
                                        <div class="description-item" data-type="event_description">
                                            <div class="description-inner"
                                                 {% if forloop.first and occurrence.start_time > now %} itemprop="description"{% endif %}{% if occurrence.start_time.date == now.date %} itemprop="description"{% endif %}>
                                                {{ occurrence.event_description|html_urlize|safe }}
                                            </div>
                                        </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    {% if event.event_description %}
                        <div class="description" data-type="event_description">
                            <div class="description-inner" itemprop="description">
                                {{ event.event_description|html_urlize|safe }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {% if event.eventattachment_set.count > 0 %}
                <div class="attachments">
                    {% for attachment in event.eventattachment_set.all %}
                        <a target="_blank" href="/media/{{ attachment.attachment }}">
                            {{ attachment.filename }}
                        </a>{% if not forloop.last %} , {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="tags">
                {% for tag in event.tags.all %}
                    <a href="{% url_by_identifier tag.name %}">
                        {{ tag }}
                    </a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>

            {% load admin_event_actions %}
            <div class="report-and-claim">
                <a href="javascript: void(0);" class="report-event-button">
                    Report Event
                </a>
                |
                {% report_event_popup event %}
                <a href="javascript: void(0);" class="claim-event-button">
                    Claim Event
                </a>
                {% claim_event_popup event %}
            </div>
        </div>
    </div>

    <div class="secondary-content">
        {% include 'events/detail_page/similar_events.html' %}
    </div>    
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

{% block advertising %}
    <div class="rotation-right-container">
        {% advertising_group "300x250|300x100" %}
    </div>
{% endblock %}
