{% load advertising_tags %}


<div class="search-pad-popup-content">
    <div class="search-pad-menu">
        {% include 'events/_searchpad_left_menu.html' %}
    </div>
    <div class="search-pad-content events-container content-wrapper">
        {% include 'events/_searchpad_popup_datetime_menu.html' %}

        <div class="searchtags-wrapper">
            {% if not eventsFilter.search_tags %}
                <span class="searchtags-placeholder">
                    Select Tags to Refine your Search
                </span>
            {% endif %}
            <ul class="searchtags browse">
                {% for tag in eventsFilter.search_tags %}
                    <li data-remove-url="{{ tag.remove_url }}">
                        {{ tag.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% include 'events/_search_pad_event_details.html' %}
    </div>
    <div class="search-pad-advertising">
        <div class="advertising-container">
            {% advertising_group "300x600" %}
        </div>
    </div>
    <div class="clr"></div>
</div>