.box {
    background: #fff;
    padding: 15px;
    border: 1px solid #022e52
}

.advertising-stats {
    padding: 0;
    border: 1px solid #000;
}

.box .entry-wrapper {
    background: #fdfcfc;
    border: 1px solid #c6c6c6;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.tabs-container table.tabs.cf-admin-menu {
    background: #fff;
}

body .box .button {
    height: 16px;
    line-height: 16px;
    margin-bottom: 3px;
    border: 0;
}

body .entry-wrapper .entry-info.home-page .entry-details-wrapper{
    width: 285px;   
}

body .entry-wrapper .entry-info.home-page .entry-details-wrapper .title,
body .entry-wrapper .entry-info.home-page .entry-details-wrapper .entry-date,
body .entry-wrapper .entry-info.home-page .entry-details-wrapper .entry-description {
    width: 285px;
}

.fb-pages-dropdown {
    width: 460px;
    height: 18px;
    line-height: 18px;
    text-align: left;
    margin-right: 5px;
}

.fb-pages-dropdown:after, .fb-pages-dropdown:after {
    top: 2px;
    right: 1px;
    background: url("/static/images/widgets/dropdown-small.png") no-repeat;
    width: 15px;
    height: 14px;
}

.fb-pages-dropdown-options {
    width: 480px;
    text-align: left;
}