{% load endless %}
{% load cf_pagination %}

{% paginate 6 featured_events_stats using "featured_stats_page" %}

<table class="profile-table" celpadding="0" cellspacing="0">
    <tr>
        <th>Event Name</th>
        <th>Date(s)</th>
        <th>Impressions</th>
        <th>Clicks</th>
        <th>Cost</th>        
    </tr>
    {% for stats in featured_events_stats %}
    <tr>
        <td>
            {{ stats.event.name }}
        </td>
        <td>
            {{ stats.start_time|date:"b d"|title }} - {{ stats.end_time|date:"b d"|title }}
        </td>
        <td class="action">
            {{ stats.views }}
        </td>
        <td class="action">
            {{ stats.clicks }}
        </td>
        <td class="action">
            {{ stats.cost }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">
            Venue have not featured event
        </td>
    </tr>
    {% endfor %}
</table>
{% cf_pagination %}