* {
    -webkit-tap-highlight-color: transparent;
}

@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: HelveticaNeueLTCom;
    src: url('/static/fonts/HelveticaNeueLTComBd.ttf'),
         url('/static/fonts/HelveticaNeueLTComBd.eot'); /* IE9 */

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueLTCom;
    src: url('/static/fonts/HelveticaNeueLTComMd.ttf'),
         url('/static/fonts/HelveticaNeueLTComMd.eot'); /* IE9 */

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueLTComLight;
    src: url('/static/fonts/HelveticaNeueLTComLt.ttf'),
         url('/static/fonts/HelveticaNeueLTComLt.eot'); /* IE9 */
    font-weight: normal;
    font-style: normal;
}


body {
    margin:0px;
    font:12px Arial, Helvetica, sans-serif;
    background: #e3e3e3;
}

html.preview, body.preview {
    height: 100%;
}

.wrapper {
    width:auto;
}

.wrapper.preview {
    height: 100%;
}

.page-container {
    width: 1007px;
    margin: 11px auto 0 auto;
    text-align:left;
    background: #e3e3e3;
}

.page-container.index {
    margin-top: 10px;
    min-height: 1200px;
}

.page-container.preview {
    min-height: 100%;
    padding-bottom: 0;
    width: 725px;
}

.logo {
    float: left;
    margin: 18px 0 0 20px;
}

.logo a {
    display: block;
}

.header {
    width:auto;
}

.primary-header {
    width:auto;
    min-width: 1024px;
}

.primary-header .content {
    position: relative;
    width: 1007px;
    margin: 0 auto;
    text-align: left;
    height: 78px;
    background: #022e52;
    border-bottom: 1px solid #5c768c;
}

.post-events-for-free {
    height: 35px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.post-events-for-free a,
.post-events-for-free a:hover {
    margin: 0;
    margin-left: 12px;
    font-size: 28px;
    font-family: HelveticaNeueLTComLight;
    color: #fff;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
}

.post-events-for-free a span {
    font-size: 30px;
    color: #69b2fd;
    text-transform: uppercase;
}

.menu-header {
    min-width: 1024px
}

.menu-header .content {
    width: 1007px;
    margin: 0 auto;
    background: #ecece9;
    border-bottom: 2px solid #b8b8b8;
}

.menu-wrapper ul.main-menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
}

.menu-wrapper ul.main-menu li {
    position: relative;
    float:left;
    border-left: 1px solid #c5c5c5;
}

.menu-wrapper ul li a {
    display:block;
    font: 12px Arial, Helvetica, sans-serif;
    color: #454545;
    text-decoration:none;    
    vertical-align: middle;
    padding: 0 15px;    
}

.menu-wrapper ul.main-menu li a {
    text-transform: uppercase;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
}

.menu-wrapper ul.main-menu li a .hover-effect {
    display: none;
}

.menu-wrapper ul.main-menu li a.active .hover-effect,
.menu-wrapper ul.main-menu li a:hover .hover-effect {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #022e52;
}

.location-wrapper {
    border-left: 1px solid #c5c5c5;    
}

.location-wrapper,
.search-wrapper {
    float: left;
    height: 25px;
    padding-top: 3px;
    padding-left: 3px;
}

.location-wrapper .location-selection-wrapper,
.search-wrapper .search-selection-wrapper {
    position:relative;
    display: inline-block;
    vertical-align: top;
}

.location-selection-wrapper:hover .search-lists {
    display:block;
}

.location-text-box,
.search-text-box {
    background: #fff;
    border: 1px solid #c8c8c7;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

.search-submission-events {    
    width: 60px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    margin-left: 360px;
}

.location-wrapper .location-label,
.search-wrapper .search-label {
    display: inline-block;
    font-size: 12px;
    margin: 4px;
    margin-left: 7px;
    margin-right: 7px;
    color: #022e52;
    font-weight: bold;
}

.location-wrapper .location-label {
    margin-left: 15px;
}

.location-wrapper input,
.search-wrapper input {
    width: 200px;
    background: none;
    border: none;
    height: 14px;
    padding: 3px 5px;
    color: #022e52;
}

.search-text-box input.search {
    width: 250px;
    
}

.search-submission {
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(/static/images/search-icon.png) right no-repeat;
    right: 2px;
    top: 1px;
    cursor: pointer;
}

.location-selection-wrapper.active .location-text-box {
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;

    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.search-lists {
    position: absolute;
    top: 21px;
    background: #fff;
    left: 0px;
    width: 210px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 20px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-radius-bottomleft: 6px;
    -webkit-border-radius-bottomright: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: none;
    z-index: 11;
}

.search-lists ul {
    list-style:none;
    margin:0px;
    padding:0px 0px !important;
    font-size:12px !important;
}

.search-lists ul li
{
    width:100%;
    text-align: left;
}

.search-lists ul h3, .search-lists__title
{
    margin:0px;
    padding:8px 15px;
    background:#e7e7e7;
    color:#247cc3;
    font-size:12px;
    font-weight:bold;
    width: auto !important;
}

.search-lists ul li a
{
    border:0px !important;
    padding:5px 15px !important;
    font-size:12px !important;
}

.search-lists ul li.selected a {
    font-weight: bold;
}

.search-lists ul li a:hover,
.search-lists ul li a.selected
{
    background:#fff5e5;
    border:0px !important;
    color:#454545;
}

.content-wrapper
{
    width:auto;
}

.content-wrapper-panel
{
    padding: 15px 0px;
}

.main-content-wrapper {
    width:auto;
    padding: 30px 15px 0px;
}

.main-content-wrapper h1 {
    margin:0px;
    padding:0px 0px 10px;
    font-size:20px;
    color:#022e52;
}
.main-content-wrapper .orange
{
    color:#ff9e00;
}

.menu-wrapper {
    width:1024px;
}

.main-content
{
    width:auto;
    margin-bottom: 20px;
}

.schedule-bar {
    position: relative;
}

.schedule-bar_type_popup {
    padding: 0 15px 0 6px;
}

table.schedule-bar-menu {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    background: #c6c6c6;
    border-bottom: 2px solid #022e52;
    color: #022e52;
    border-collapse: collapse;
}

table.schedule-bar-menu td {
    padding: 0px;
}

.search-pad-content.events-container table.schedule-bar-menu {
    background: none;
}

.schedule-bar__item {
    list-style: none;
    text-transform: uppercase;
    height: 19px;
    line-height: 20px;
    vertical-align: middle;
    width: 95px;
    text-align: center;
}

.schedule-bar_type_popup .schedule-bar__item {
    width: 89px;
}

table.schedule-bar-menu td a {
    color: #022e52;
    font-size: 11px;
    font-weight: bold;
}

table.schedule-bar-menu td:hover,
table.schedule-bar-menu td.selected {
    background: #022e52;
    color: #fff;
}

table.schedule-bar-menu td:hover a,
table.schedule-bar-menu td.selected a {
    color: #fff;
}

/*browse events css*/

.entry-img-prev
{
    float:left;
    border:#CCC solid thin;
    padding:3px;
}
.entry-img-prev a:hover
{
    opacity:0.5;
}

.entry-details-wrapper
{
    color: #454545;
    margin:2px 2px 2px 15px;
/*    width: 340px;*/
    float:left;
}

.entry-details-wrapper .title-wrapper
{
    padding-bottom:5px;
    border-bottom:1px solid #ddd;
}

.entry-details-wrapper .title-wrapper .title
{
    float:left;
    font-weight:bold;
    color:#0066cc;
    font-size:15px;
}

.entry-details-wrapper .title-wrapper .price
{
    float:right;
    font-weight:bold;
    color:#ffa107;
    font-size:15px;
}

.entry-description
{
    color:#454545;
    padding-top:10px;
}


.entry-navigation-np
{
    padding: 30px 0 28px;
    text-align:center;
}

.entry-navigation-np img
{
    margin: 0 10px;
}

.entry-navigation-np .step-links span {
    opacity: 0.5;
}

.header-ads-container {
    text-align: center;
    padding: 6px 0 4px;
}

.footer-wrapper
{
    width:auto;
    text-align:center;
}

.footer-container
{
    width: 937px;
    margin: 0px auto;
    text-align:left;
}

.footer-ads-wrapper
{
    width:auto;
    text-align: center;
}

.footer-ads-container {
    padding-top: 5px;
}

.footer-site-links
{
    min-width: 1024px;
    width:auto;
    text-align:center;
    margin-top: 10px;
}

.footer-content {
    width: 927px;
    margin: 0 auto;
    padding: 9px 40px 3px 40px;
    background:#022E52;
}

.copyright
{
    float: left;
    font-size: 13px;
    color: #fff;
    padding-top: 2px;
}

.footer-site-map
{
    float:right;
}

.footer-site-map ul
{
    margin:0px;
    padding:0px;
    list-style:none;
}

.footer-site-map ul li
{
    display:inline-block;
    padding:0px 10px;
    border-right: 1px solid #ffffff;
}

.footer-site-map ul li.last {
    border-right: 0;
}

.footer-icon {
    display: inline-block;
    height: 23px;
    width: 21px;
    background-image: url(/static/images/footer-icon-sprite.png);
    vertical-align: middle;
    border: 0;
}

.footer-icon.facebook {
    background-position: 1px 0;
}

.footer-icon.twitter {
    background-position: -22px 0;
}

.footer-icon.email {
    background-position: -45px 0;
}

.footer-icon.google {
    background-position: -67px 0;
}

.footer-icon.youtube {
    background-position: -90px 0;
}


.footer-site-map ul li a
{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    font-size: 13px;
}

.footer-site-map ul li a:hover
{
    text-decoration:underline;
    color:#ff9e00;
}

a img {
    border: 0px;
}

a {
    outline:none;
}

.tags{
    padding-left:25px;
    font-size:11px;
    color:#eb8a19;
    background:url(/static/images/tag_icon.png) left no-repeat;
}

#hintbox{
    /*CSS for pop up hint box */
    position: absolute;
    background-color: #f7f7f7;
    width: 230px; /*Default width of hint.*/
    border:1px solid #d6d6d6;
    font-size: 11px;
    font-weight:normal;
    line-height:14px;
    z-index:100;
    visibility: hidden;
    color:#454545;
    }

#hintbox h3{
    background-color:#e3e3e3;
    height:19px;
    padding: 5px 0 0 10px;
}
#hintbox p {
    padding: 5px 10px 10px 10px;
}
.buttonq{
    background: url(/static/images/question.png) no-repeat;
    height: 22px;
    width: 25px;
}
.buttonq:hover{
    background: url(/static/images/question_hover.png) no-repeat;
    height: 22px;
}

.buttonq.mini{
    background: url(/static/images/question-mini.png) no-repeat;
    height: 13px;
    width: 13px;
    display: inline-block;
}
.buttonq.mini:hover{
    background: url(/static/images/question_hover-mini.png) no-repeat;
}

.clr{
    clear: both;
}

.messages {
    display: none;
}

.indicator-block {
    display: none;
    padding-top: 10px;
}

.mini-indicator {
    display: none;
    vertical-align: middle;
}

.box .form-block {
    padding-left: 8px;
}

.error {
    color: red;
}

.load-more {
    display: none;
    cursor: pointer;
    padding-left: 8px;
    text-decoration: underline;
    padding-top: 10px;
}

.import-buttons {
    padding-top: 5px;
}

.events-search-button {
    margin-top: 10px;
}

.city-input {
    width: 300px;
}

.alert-success, .alert-error {
    margin: 10px 0;
    padding: 10px;
    font-size: 13px;
    max-width: 400px;
    border-radius: 4px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-error a {
    color: #b94a48;
    text-decoration: underline;
    font-weight: bold;
}

.modal-background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(/static/images/opacity_bg.png) repeat scroll left top transparent;
    z-index: 100;
}

.modal-dialog {
    width: 424px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -78px 0 0 -217px;
    background: #ffffff;
    padding: 15px 0 0 10px;
    border-radius: 8px;
}

.modal-text {
    text-align: center;
}

.modal-dialog .location {
    float: left;
}

.modal-layer-buttons {
    width: 120px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 0;
}

.modern-input {
    border: 1px solid #aaaaaa !important;
    border-radius: 4px !important;
    height: 26px !important;
    line-height: 26px;
    width: 280px;
    vertical-align: bottom;
}

.modern-input.short {
    width: 200px;
}

.options .modern-input {
    vertical-align: middle;
}

.popup-form-wrapper {
    background: #ffffff;
}

.popup-form-wrapper__inner {
    width: 595px;
    margin: 0 auto;
}

.submit-wrapper {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.entity-form {
    width: 682px;
    background: #ffffff;
    border: 1px solid #B9B8B8;
}

.entity-form__title {
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    background: #8c8a8a;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 30px;
}

.entity-form__fields {
    padding: 35px 94px 21px 105px;
    position: relative;
}