.event-wrapper {
    position: relative;
    padding: 13px 15px 30px 13px;
    vertical-align: top;
}

.event-details__container {
    -webkit-box-shadow: 4px 3px 6px 2px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    4px 3px 6px 2px rgba(50, 50, 50, 0.7);
    box-shadow:         4px 3px 6px 2px rgba(50, 50, 50, 0.7);
    margin-bottom: 10px;
}

.event-details__title {
    height: 54px;
    line-height: 54px;
    background: #022e52;
    padding-left: 20px;
    overflow: hidden;
}

.event-details__title a {
    color: #ffffff;
    font-size: 23px;
}

.event-details__title a:hover {
    color: #ffffff;
}

.white-arrow {
    display: inline-block;
    background-image: url(/static/images/event/white_arrows.png);
    width: 13px;
    height: 13px;
}

.white-arrow_pos_next {
    background-position: -25px 0;
}

.searchpad-event-wrapper table td,
.event-wrapper table td {
    vertical-align: top;
}

.searchpad-event-wrapper table td.event-details-td,
.event-wrapper table td.event-details-td {
    position: relative;
}

.searchpad-event-wrapper .event-photo,
.event-wrapper .event-photo {
    display: inline-block;    
    border: 1px solid #c6c6c6;
    vertical-align: top;
    background: #ffffff;
}

.event-wrapper .event-photo {
    background: #ffffff;
}

.event-wrapper .event-photo {
    padding: 10px;
    min-height: 288px;
}

.searchpad-event-wrapper .event-photo footer {
    font-size: 10px;
    margin-top: 15px;
    width: 154px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchpad-event-wrapper .event-photo {
    padding: 5px;
    min-height: 192px;
}

.event-wrapper .event-photo.multiday {
    min-height: 291px;
    vertical-align: middle;
}

.event-wrapper .event-photo.multiday #photoFancy {
    margin-top: 15px;
}

.event-wrapper .event-photo #photoFancy {
    height: 265px;
    width: 265px;
    display: block;
    position: relative;
}

.event-wrapper .event-photo .center-cropped{
    cursor: pointer;
    position: relative;
    background-position: center center;
    width: 265px;
    height: 265px;
}


.event-wrapper .event-photo .detail-view {
    position: absolute;
    content: "";
    width: 80px;
    height: 70px;
    left: 90px;
    top: 100px;
    background: url("/static/images/event/loop.png") no-repeat;    
}

.event-wrapper .images-list {
    margin-top: 8px;    
}

.event-wrapper .event-photo .center-cropped.default:after {
    display: none;
}

.event-wrapper .event-photo footer {
    display: block;
    margin-top: 10px;
    font-size:1.0em;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    width: 260px;
    text-overflow: ellipsis;
}

.event-wrapper .event-photo footer a {
    font-weight: bold;
}

.searchpad-event-wrapper .event-details-block,
.event-wrapper .event-details-block {
    position:relative;    
    width: 100%;
}

.event-wrapper .event-details-block {
    height: 310px;
}

.searchpad-event-wrapper .event-details-block {
    height: 203px;
}


.searchpad-event-wrapper .event-details,
.event-wrapper .event-details {
    position: relative;
    display: inline-block;    
    vertical-align: top;
    
}

.event-wrapper .event-details {
    width: 344px;
    margin-left: 15px;
}

.searchpad-event-wrapper .event-details {
    width: 240px;
    margin-left: 10px;
}

.searchpad-event-wrapper .event-details-bottom,
.event-wrapper .event-details-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.event-wrapper .event-details-bottom {
    margin-left: 15px;
}

.searchpad-event-wrapper .event-details-bottom {
    margin-left: 10px;
}

.searchpad-event-wrapper .event-details .event-date-and-venue,
.event-wrapper .event-details .event-date-and-venue {
    width: 100%;
    margin-top: 10px;
}

.searchpad-event-wrapper .event-details .event-date-and-venue td,
.event-wrapper .event-details .event-date-and-venue td {
    vertical-align: top;
}

.searchpad-event-wrapper .event-details .event-date-wrapper,
.event-wrapper .event-details .event-date-wrapper {
    color: #0260bb;
    margin-top: 5px;
    font-weight: bold;
}

.searchpad-event-wrapper .event-details .event-time-wrapper {
    color: #0260bb;
}

.searchpad-event-wrapper .event-details .event-venue,
.event-wrapper .event-details .event-venue {
    margin-top: 11px;
    color: #022e52;
    font-weight: bold;
}

.event-wrapper .event-details .event-venue a,
.event-wrapper .event-details .event-venue span {
    width: 195px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.searchpad-event-wrapper .event-details .event-venue span {
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.searchpad-event-wrapper .event-details .event-venue-name,
.event-wrapper .event-details .event-venue-name {
    width: 195px;
    white-space: normal;
}

.searchpad-event-wrapper .event-details .event-venue-name {
    width: 140px;
}

.searchpad-event-wrapper .event-details .title-wrapper,
.event-wrapper .event-details .title-wrapper {
    position: relative;    
    border-bottom: 1px solid #02345c;
    width: 100%;
}

.searchpad-event-wrapper .event-details .event-price,
.event-wrapper .event-details .event-price {
    color: #0260bb;        
    font-weight: bold;    
    vertical-align: middle;
    display: block;
    white-space: nowrap;    
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.event-wrapper .event-details .event-price {
    width: 190px;
    height: 40px;
    line-height: 40px;
}

.searchpad-event-wrapper .event-details .event-price {
    width: 240pc;
    height: 26px;
    line-height: 26px;
    padding-top: 20px;
}

.searchpad-event-wrapper .event-details .title-wrapper .action-buy-tickets,
.event-wrapper .event-details .title-wrapper .action-buy-tickets {
    position: absolute;
    display: block;    
    text-align: center;
    vertical-align: middle;
    color: #0260bb;
    right: 0;    
    border: 1px solid #bedefe;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;

    box-shadow: 2px 2px 6px #eee;
    font-size: 14px;
}

.event-wrapper .event-details .title-wrapper .action-buy-tickets {
    width: 130px;
    height: 30px;
    line-height: 30px;
    top: 4px;
}

.searchpad-event-wrapper .event-details .title-wrapper .action-buy-tickets {
    width: 85px;
    height: 22px;
    line-height: 22px;
    top: 0;
    font-size: 11px;
}

.event-wrapper .event-details .title-wrapper .action-buy-tickets:hover {
    box-shadow: 2px 2px 6px #eaeaea;
}

.searchpad-event-wrapper .event-details-bottom .event-actions,
.event-wrapper .event-details-bottom .event-actions {    
    border-top: 1px solid #02345c;
    border-bottom: 1px solid #02345c;    
}

.event-wrapper .event-details-bottom .event-actions {
    width: 341px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 10px;
}

.searchpad-event-wrapper .event-details-bottom .event-actions {
    width: 252px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;

}

.searchpad-event-wrapper .event-actions .relative-wrapper,
.event-wrapper .event-actions .relative-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.searchpad-event-wrapper .event-details-bottom .event-actions .relative-wrapper {
    margin: 0;
    width: 100%;
}

.searchpad-event-wrapper .event-actions a,
.event-wrapper .event-actions a{
    display: block;
    background: #0260bb;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.event-wrapper .event-actions a {
    width: 101px;
    height: 16px;
    line-height: 16px;
    font-size: 13px;
}

.searchpad-event-wrapper .event-actions a {
    width: 100%;
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 11px;   
}

.searchpad-event-wrapper .event-actions table {
    width: 100%;
}

.searchpad-event-wrapper .event-actions table td {
    width: 33%;
}

.searchpad-event-wrapper .event-actions table td.with-right-padding {
    padding-right: 5px;
}

.searchpad-event-wrapper .event-actions .action-view-site,
.event-wrapper .event-actions .action-view-site {
    background: #6e6d6d;    
}

.event-wrapper .tags{
    width: 540px;
    padding-left:25px;
    font-size:11px;
    color:#5dacfd;
    background:url(/static/images/tag_icon.png) left no-repeat;
}

.event-wrapper .tags a {
    color:#5dacfd;
    text-decoration: none;
}
.event-wrapper .tags a:hover {
    color: #0168cd;
}

.content-wrapper .event-details-primary-content h1 a {
    padding-left: 15px;
}


/*  Old code */
.event-details-primary-content {
    width: 684px;
}

.event-details-block .event-details {
    display: inline-block;
    vertical-align: top;
    padding-right: 3px;    
    white-space: nowrap;
}

.event-details-block .event-details .title a {
    color: #06c;
    text-decoration: none;
    cursor: pointer;

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.event-wrapper .event-details .title-wrapper,
.searchpad-event-wrapper .event-details .title-wrapper {
    position: relative;
    border-bottom: 1px solid #02345c;    
}

.event-wrapper .event-details .title-wrapper {
    
}

.event-wrapper .event-details .event-date-wrapper {
    color: #0260bb;
    margin-left: 10px;
    margin-top: 0;
}

.event-wrapper .event-details .event-description {
    margin:0;
    margin-top:18px;
    color: #000;
    width: 250px;
    white-space: normal;
    margin-left: 30px;
}

.event-wrapper .event-details .event-actions {
    margin-top: 12px;
}

.event-wrapper .event-details .event-actions table {
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;
}

.event-wrapper .event-details .event-actions td {
    border-bottom: 1px solid #ddd;
    width: 50%;
    max-width: 80px;
    height: 22px;
    max-height: 22px;
    min-height: 22px;    
}

.event-wrapper .event-details .event-actions td a {
    text-decoration: none;
    padding-left: 22px;
    color: #0168cd;
    position: relative;
    min-width: 30px;
    height:100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
}

.event-wrapper .event-details .event-actions td.social-buttons a {
    line-height: inherit;
}

.event-wrapper .event-description {
    margin: 13px;
}

.tickets-popup {
    display:none;
    padding-top:20px;    
}


.in-the-loop-wrapper, .remind-me-wrapper {
    position: relative;
    display: inline-block;
}

.in-the-loop-td {
    position: relative;
}

.in-the-loop-tags-popup {
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    z-index:2;
    white-space: normal;
}

.entry-info .in-the-loop-tags-popup {
    bottom: 30px;
}

.in-the-loop-tags-popup .tag {
    font-size: 1.2em;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.in-the-loop-tags-popup .add-in-the-loop-wrapper {
    text-align: center;
}
.in-the-loop-tags-popup .add-in-the-loop { 
    font-size:1.5em;
    padding: 5px 10px;
}

#venue_map {
    width: 500px;
    height: 500px;
    display: none;
}

.venue_map_preview {
    float: right;
    vertical-align: middle;
    line-height: 100px;
}

.venue_map_preview img, .venue_map_preview a {
    vertical-align: middle;
    cursor: pointer;
}

.venue_map_preview a {
    margin-left: 10px;
}

.report-claim-container {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: right;
}

.report-claim-container a {
    display: block;
}

.cfadmin-actions {
    position: absolute;
    width: 100px;
    background: #eee;
    z-index: 10;
    padding: 10px;
    border: 1px solid;
    top: 10px;
    left: -30px;    
}

.cfadmin-actions a {
    display: block;
}

.events-occurrences {
    width: 341px;
    margin-top: -3px;
    margin-left: 15px;
}

.events-occurrences .header {
    position: relative;
    background: #b2bfc9;
    border-top: 1px solid #c1cbd3;
    border-left: 1px solid #c1cbd3;
    border-right: 1px solid #c1cbd3;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.events-occurrences .header .days-viewer-controls {
    position: absolute;
    height: 20px;
    right: 0;
    top: 0;
    display: none;
}

.events-occurrences .header .days-viewer-controls.active {
    display: block;
}

.events-occurrences .header .days-viewer-controls div {
    color: #022e52;
    float: right;
    width: 20px;
    text-align: middle;
    margin-top: 2px;
    height: 14px;
    border-left: 2px solid #022e52;
    background: #b2bfc9;

    text-align: center;
    padding-top: 2px;
    cursor: pointer;

}

.events-occurrences .show-times {
    color: #022e52;
    border-bottom: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    padding: 5px 0;

    overflow: auto;
    max-height: 55px;
}

.events-occurrences .show-times table {
    margin: 0 auto;
    border-collapse: collapse;
}

.events-occurrences .show-times span {
    display: block;
    height: 14px;
    line-height: 14px;
    padding: 3px 0 0 0;
}

.events-occurrences .event-days {
    position: relative;
    width: 100000px;
    margin: 0;
    padding: 0;    
}

.events-occurrences .event-days li {
    list-style: none;
    float: left;
    font-weight: bold;
}

.event-day-switch {
    display: inline-block;
    width: 97px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    color: #022e52;
    margin-right: 0px;
    cursor: pointer;
}
.event-day-switch.active {
    background: #022e52;
    color: #ffffff;
}

.show-times .show-time-day {
    display: none;
}

.show-times .show-time-day.active {
    display: block;
}

.show-day-description {
    display: none;
}

.show-day-description.active {
    display: block;
}

.event-details-primary-content .attachments,
.event-details-primary-content .tags {
    display: block;
    padding: 3px;
    padding-left: 45px;
    line-height: 15px;
}

.attachments {    
    background: url("/static/images/event/attachment-icon.png") 19px 2px no-repeat #7f7e7e;
    color: #ffffff;
}

.tags {
    background: url("/static/images/event/tag-icon.png") 15px 5px no-repeat #022e52;
    color: #ffffff;
}

.attachments a {
    color: #fff;
    text-decoration: underline;
    font-size: 12px;
}

.attachments a:hover {
    color: #fff;
}

.tags a { 
    color: #fff;
    font-size: 11px;
}

.tags a:hover {
    color: #fff;
}

.report-and-claim {
    display: block;
    background: #fff;
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #817f7f;
}

.report-and-claim .report-event-button,
.report-and-claim .claim-event-button {
    margin-left: 12px;
    margin-right: 12px;
    color: #817f7f;
    cursor: pointer;
}

.event-conversation {
    background: #fff;
}