.image-viewer {
    width: 265px;
    overflow: hidden;
    position: relative;
}

.image-viewer-content {
    position: relative;
    left: 0;
    width: 100000px;
}

.image-viewer-content a {
    float:left;
}

.image-viewer .image-viewer-controls {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 5px;
    left: 5px;
    width: 252px;
    color: #fff;
    padding-left: 3px;
    font-weight: bold;
    height: 20px;
    vertical-align: middle;
    line-height: 20px;
}

.image-viewer .image-viewer-controls .prev,
.image-viewer .image-viewer-controls .next {
    float: right;
    margin-top: 2px;
    cursor: pointer;
    width: 25px;
    text-align: center;
    border-left: 1px solid #fff;
    height: 16px;
    vertical-align: middle;
}

.searchpad-event-wrapper .image-viewer {
    width: 153px;
    font-size: 8px;
}

.searchpad-event-wrapper .image-viewer .image-viewer-controls {
    width: 146px;
    height: 13px;
    line-height: 13px;
    left: 2px;
    bottom: 2px;
}

.searchpad-event-wrapper .image-viewer .image-viewer-controls .prev,
.searchpad-event-wrapper .image-viewer .image-viewer-controls .next {    
    width: 18px;    
    height: 9px;
}