.secondary-content {
    float: left;
    width: 310px;
    margin: 0 0 15px 10px;
}

.secondary-content .similar-events-wrapper {
    background: #022e52;
    color: #fff;
    padding: 4px 4px 4px 0;
    height: 280px;
}

.secondary-content .similar-events-wrapper header{ 
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
    margin: 13px 0 0 15px;
    height: 23px;
    line-height: 24px;
}

.secondary-content .similar-events-wrapper header div {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
    color: #b2bfc9;
}

.secondary-content .similar-events-wrapper ul {	
	position: relative;
	margin: 0;
	padding: 0;	
	height: 208px;	
}

.secondary-content .similar-events-wrapper ul.one-line {
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
}

.secondary-content .similar-events-wrapper .empty {
    margin-left: 15px;
}

.secondary-content .similar-events {
	overflow: hidden;
	margin-top: 10px;
    height: 208px;
    position: relative;
}

.secondary-content .similar-events .indicator-block {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -16px;
    padding: 0;
}

.secondary-content .similar-events-wrapper ul li {
	list-style: none;
	display: block;
    float: left;
    margin: 4px 0 0 4px;
}

.secondary-content .similar-events-wrapper ul li a {
	display: block;
	border: 3px solid #fff;
}

.similar-events-viewer-controls{
    background-color: #b2bfc9;
    width: 292px;
    color: #022e52;
    padding-left: 10px;
    font-weight: bold;
    height: 26px;
    vertical-align: middle;
    line-height: 26px;
    margin-left: 4px;
    display: none;
}

.similar-events-viewer-controls .prev,
.similar-events-viewer-controls .next {
    float: right;
    margin-top: 2px;
    cursor: pointer;
    width: 25px;
    text-align: center;
    border-left: 1px solid #022e52;
    height: 22px;
    vertical-align: middle;
}

.blue-arrow {
    display: inline-block;
    background-image: url(/static/images/event/blue_arrows.png);
    width: 13px;
    height: 13px;
}

.blue-arrow_pos_next {
    background-position: -25px 0;
}