{% load advertising_tags %}
<!-- Ads & social -->
<tr>
    <td colspan="3">
        <table bgcolor="#e3e3e3" width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
            <tr>
                <td height="5">
                    <div style="line-height:0;">
                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="5" alt="" />
                    </div>
                </td>
            </tr>

            <tr>
                <td align="center">
                    {% advertising "468x60" %}
                </td>
            </tr>

            <tr>
                <td height="5">
                    <div style="line-height:0;">
                        <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="10" height="5" alt="" />
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>