<!-- Footer -->
<table width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
    <tr>
        <td align="center" height="35" style="background: #e3e3e3;">
            <table bgcolor="#022e52" width="726" height="35" cellpadding="0" cellapscing="0"
                   style="border-collapse:collapse;">
                <tr>
                    <td align="left" style="padding-left: 10px;">
                        <span style="color:#ffffff; font-size: 13px; font-family: sans-serif;">
                            © 2014 Cityfusion
                        </span>
                    </td>
                    <td align="right" style="text-align: right;padding-right: 10px;">
                        <span style="color:#ffffff; font-size: 14px; font-family: sans-serif; ">
                            <a href="{{site}}{% url 'staticpage' alias='faq' %}"
                               target="_blank"
                               style="color:#ffffff; font-size: 13px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                FAQ
                            </a>
                            &nbsp;|&nbsp;
                            <a href="/feedback/"
                               target="_blank"
                               style="color:#ffffff; font-size: 13px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Feedback
                            </a>
                            &nbsp;|&nbsp;
                            <a href="{{site}}{% url 'staticpage' alias='advertising' %}"
                               target="_blank"
                               style="color:#ffffff; font-size: 13px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Advertising
                            </a>
                            &nbsp;|&nbsp;
                            <a href="{{site}}{% url 'staticpage' alias='privacy_policy' %}"
                               target="_blank"
                               style="color:#ffffff; font-size: 13px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Privacy Policy
                            </a>
                            &nbsp;|&nbsp;
                            <a href="{{site}}{% url 'staticpage' alias='terms_of_service' %}"
                               target="_blank"
                               style="color:#ffffff; font-size: 13px; font-family: sans-serif; ; text-decoration:none; border:none;">
                                Terms of Service
                            </a>
                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
</table>