<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
    .appleLinksWhite a {color:#ffffff; text-decoration: none;}
    .appleLinksBlack a {color:#000000; text-decoration: none;}
    .appleLinksBlue a {color:#247cc3; text-decoration: none;}
</style>

<!-- Header -->
<table width="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
    <tr>
        <td align="center" height="120" style="background: #e3e3e3;">
            <table bgcolor="#022e52" width="726" height="100%" cellpadding="0" cellapscing="0" style="border-collapse:collapse;">
                <tr>
                    <td align="left" style="padding-left: 10px;">
                        <img alt="" style="border: none;" src="{{site}}{{STATIC_URL}}images/logo.png">
                    </td>
                </tr>
            </table>    
        </td>
    </tr>
</table>