{% load advertising_tags %}

<td valign="top">
    <div style="border: 1px solid #cccccc;">
        <div style="border: 3px solid #ffffff; border-left: 10px solid #ffffff;">
            {% advertising "120x600" %}
        </div>

        <div style="line-height:0;">
            <img src="{{site}}{{STATIC_URL}}images/emails/blank.gif" width="5" height="5" alt="" />
        </div>

        <div style="border: 3px solid #ffffff; border-left: 10px solid #ffffff;">
            {% advertising "120x60" %}
        </div>
    </div>
</td>