.balloon {
    top: 0;
}

.dropdown {
    width: 140px;
    height: 24px;
}

.dropdown:after { 
    top: 5px;
    right: 4px;
}

.featured-setup .datetime-table {
    margin: 20px;    
}

.featured-setup .datetime-table td {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.featured-setup .datetime-table td.long {
    padding-left: 10px;
}

.featured-setup .datetime-table tr:first-child td:nth-of-type(1){
    width: 100px;
}

.featured-setup .datetime-table tr:first-child td:nth-of-type(2){
    width: 25px;
}

.featured-setup .datetime-table tr:first-child td:nth-of-type(3){
    width: 150px;
}

.featured-setup .datetime-table tr:first-child td:nth-of-type(4){
    width: 30px;
}

.featured-setup .datetime-table tr:first-child td:nth-of-type(5){
    width: 70px;
}

.featured-setup .datetime-table tr:first-child td:nth-of-type(6){
    width: 150px;
}

.featured-setup .datetime-table tr:first-child td:nth-of-type(7){
    width: 30px;
}

.featured-setup input[type=text]{
    border: 1px solid #dbdbdb;
    color: #454545;
    background: #fff;

    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 10px;
    width: 140px;
    height: 24px;
    font-size: 12px;
}

.featured-setup .pay-now-header {
    color: #022e52;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-left: 380px;
}

.pay-now-widget {
    margin-left: 20px; 
    margin-top: 5px;  
    width: 635px;
    height: 125px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    background: rgb(250,250,250); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */
}

.pay-now-widget .info {
    float: left;
    margin-left: 15px;    
    margin-top: 15px;
    width: 340px;
    color: #000;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    display: none;
}



.pay-now-widget .info.active {
    display: block;
}

.pay-now-widget .info table td:first-child {
    white-space: nowrap;
    text-align: left;
    width: 50%;
    font-size: 14px;
}

.pay-now-widget .info table td:first-child div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
}

.pay-now-widget .info table.taxes .total-price-row {
    color: #9c1a00;
}

.pay-now-widget .info .only {
    font-style: normal;
    font-size: 24px;
    color: #9c1a00;
}

.pay-now-widget .choose-payment-system {
    float: left;
}

.pay-now-widget .choose-payment-system td {
    vertical-align: middle;    
}

.pay-now-widget .choose-payment-system td label {
    display: inline-block;
    height: 46px;
    vertical-align: middle;
    background-position: left center;
    margin-top: 5px;
}

.pay-now-widget .choose-payment-system td img {
    display: inline-block;
    height: 46px;
}

.featured-setup .pay-now-footer {
    margin-left: 265px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.hintbox {
    width: 300px;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .5em 0;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #79b7e7;
    background: #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #e17009;
}

.choose-province-block {
    margin-top: 20px;
}

.choose-province-block header {
    margin-left: 20px;
}

.choose-province-block .options {
    border: 1px solid #d3d3d3;
    margin: 20px;
    padding-left: 15px;
    padding-top: 15px;
}

.tabs-container.with-margin  ul.tabs {
    margin-left: 20px;
}

.featured-form {
    width: 1007px;
    padding-bottom: 20px;
}

.featured-form__details, .featured-form__budget {
    float: left;
}

.featured-form__budget {
    width: 311px;
    margin-left: 18px;
    background: #022e52;
    position: relative;
    padding-bottom: 116px;
}

.featured-form__details {
    width: 595px;
    background: #ffffff;
    border: 1px solid #B9B8B8;
    margin-left: 30px;
}

.featured-form__details-title {
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    background: #8c8a8a;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 30px;
}

.featured-form__details-content {
    padding: 35px 0 21px 105px;
}

.featured-form__field-title {
    color: #022e52;
    font-weight: bold;
    text-transform: uppercase;
}

.featured-form__text-field, .featured-form__date-field {
    padding-bottom: 8px;
}

.featured-form__text-field input, .featured-form__date-field input {
    border: 1px solid #c7c6c6 !important;
    width: 394px;
    font-size: 13px;
}

.featured-form__regions-title {
    color: #022E52;
    font-weight: bold;
}

.featured-form__regions {
    color: #454545;
    padding: 15px 18px 13px;
    position: relative;
    border: 1px solid #C7C6C6;
    margin-top: 5px;
    width: 368px;
}

.featured-form__tabs {
    width: 406px;
}

.payments__title {
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    background: #ffffff;
    font-size: 16px;
    font-weight: bold;
    color: #696666;
    text-align: center;
}

.payments__content {
    padding: 52px 0 0 25px;
}

.payments__taxes {
    border-collapse: collapse;
}

.payments__cell {
    vertical-align: middle;
    color: #ffffff;
    font-size: 14px;
    padding: 0 4px 10px 0;
}

.payments__price-field {
    width: 53px;
    height: 28px;
    line-height: 28px;
    text-align: right;
    font-size: 16px;
    color: #022e52 !important;
}

.payments__total .payments__cell {
    border-top: 2px solid #ffffff;
    padding-top: 10px;
}

.payments__cell_font_middle {
    font-size: 17px;
}

.payments__cell_font_big {
    font-size: 17px;
    text-transform: uppercase;
}

.payments__cell_align_center {
    text-align: center;
}

.payments__cell_align_right {
    text-align: right;
}

.payments__currency-label {
    float: right;
}

.payments__systems {
    margin-top: 44px;
}

.payments__systems-item {
    width: 180px;
    margin: 0 auto 25px auto !important;
    display: block !important;
    padding-right: 25px;
}

input[type="radio"] + label.payments__check-label {
    background: url("/static/images/widgets/blue-radio-bg.png") -13px center no-repeat;
    height: 13px;
    width: 13px;
}

input[type="radio"]:checked + label.payments__check-label {
    background: url("/static/images/widgets/blue-radio-bg.png") 0 center no-repeat;
}

.payments__item-label {
    height: auto !important;
    margin-left: 16px;
}

.featured-form__buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 15px 0 70px 0;
}

.featured-form__submit {
    text-transform: uppercase;
    display: inline-block;
    color: #022e52 !important;
    font-size: 13px;
    font-weight: bold;
    background: #a3a1a1 !important;
    padding: 0 40px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
}

.featured-form__submit:hover {
    background: #808080 !important;
}

.featured-form__details-content .errors {
    margin-bottom: 15px;
    width: 403px;
}