{% load endless %}
{% load cf_pagination %}

{% paginate 20 advertising_orders using "advertising_orders" %}

<table class="profile-table" celpadding="0" cellspacing="0">
    <tr>
        <th>
            Campaign            
        </th>
        {% if admin %}<th>User</th>{% endif %}
        <th>Budget</th>
        <th>Bonus</th>
        <th>Actions</th>
    </tr>
    {% if admin %}
        <tr>
            <form action="" method="get">
            <td>
                {{ advertising_orders_filter.form.campaign }}
            </td>
            <td>
                <input type="text" name="account" class="user-input" data-ajax-url="{% url 'admin_user_autocomplete' %}" value="{{ selected_account.id }}" data-user-name="{{ selected_account.user }}" />
            </td>
            <td></td>
            <td></td>
            <td>
                <div class="button show-all">
                    Show all
                </div>
                <input type="submit" value="Search" class="button">
            </td>
            </form>
        </tr>
    {% endif %}
    {% for order in advertising_orders %}
    <tr>
        <td>
            {{ order.campaign.name }}
        </td>
        {% if admin %}
            <td>{{ order.account.user }}</td>
        {% endif %}
        <td>
            {{ order.total_budget }}
        </td>
        <td>
            {% if order.bonus %}
                {{ order.bonus }}
            {% else %}
                -
            {% endif %}
        </td>
        <td>
            <a href="{% url "account_order_advertising_pdf" order.id %}">
                <img src="{{STATIC_URL}}images/pdf-icon.png" alt="Get as PDF" title="Get as PDF" />
            </a>
            <a href="{% url "account_order_advertising_printed" order.id %}">
                <img src="{{STATIC_URL}}images/print-icon.png" alt="Printed version" title="Printed version">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% cf_pagination %}
