{% load endless %}
{% load event_tags %}
{% load cf_pagination %}

{% paginate 6 profile.reminder_single_events_in_future  using "reminder_page" as reminder_events %}

<div class="account-entry-wrapper entry-wrapper">
    {% for event in reminder_events %}    
        <div class="entry-info with-actions">
            {% short_single_event event %}
            <div class="event-edit-actions">
                <a href="{% url 'remove_remind_me' event.id %}" class="event-edit-actions__item">
                    Delete
                </a>
            </div>

            <div class="clr"></div>
        </div>
    {% empty %}
        <p>
            no reminder events
        </p>
    {%endfor%}
    {% cf_pagination %}
</div>