{% extends 'base.html' %} 
{% load i18n %} 
{% load url from future %}
{% load gears %}

{% block title %}
    {% blocktrans with profile.user.username as username %}
        {{ username }} orders
    {% endblocktrans %}
{% endblock %} 

{% block head %}
    {% css_asset_tag "orders-combine.css" %}
    {% js_asset_tag "orders-combine.js" %}

    {{ form.map }}
    {{ form.media.js }}
{% endblock %}

{% block page %}
    <h1>
        {{ account.user.username }} orders
    </h1>
    <div class="primary-content account-primary-content">
        <div class="primary-wrapper">
            <div class="tabs-container">
                <table class="tabs" data-page-id="{{ tabs_page }}" cellpadding="0" cellspacing="0">
                    <tr>
                        <td data-tab-id="advertising" {% if active_tab == "advertising" %}class="current"{% endif %}>
                            <span>Advertising</span>
                        </td>
                        <td data-tab-id="featured" {% if active_tab == "featured" %}class="current"{% endif %}>
                            <span>Featured</span>
                        </td>
                    </tr>
                </table>
                <div class="box{% if active_tab == "advertising" %} visible{% endif %}">
                    {% include 'accounts/_order_advertising_table.html' %}
                </div>
                <div class="box{% if active_tab == "featured" %} visible{% endif %}">
                    {% include 'accounts/_order_featured_table.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'accounts/_account_settings_menu.html' %}
{% endblock %}