{% extends 'base.html' %} 
{% load i18n %} 
{% load url from future %}
{% load common_tags %}
{% load gears %}

{% block title %}
    {% blocktrans with profile.user.username as username %}
        {{username }} reminder options
    {% endblocktrans %}
{% endblock %} 

{% block head %}
    {% css_asset_tag "reminder-settings-combine.css" %}
    {% js_asset_tag "reminder-settings-combine.js" %}
{% endblock %}

{% block page %}
    <h1>
        Reminder Options
    </h1>
    <div class="primary-content account-primary-content">
        <div class="primary-wrapper">
            <form method="post" name="reminder-options" >
                {% csrf_token %}
                <div class="reminder-types options options-white">
                    <header>
                        Please select the way(s) you would like to reminded about your saved event(s)
                    </header>
                    <table>
                        <tr>
                            <td class="first">
                                <div class="checkbox">
                                    {{ form.reminder_with_website }}
                                    {{ form.reminder_with_website.label_tag }}                                        
                                </div>                                    
                                <label class="label" for="id_reminder_with_website">Website:</label>
                            </td>
                            <td>
                                I will check for my updates on the website
                            </td>
                        </tr>
                        <tr>
                            <td class="first">
                                <div class="checkbox">
                                    {{ form.reminder_with_email }}
                                    {{ form.reminder_with_email.label_tag }}
                                </div>
                                <label class="label" for="id_reminder_with_email">Email:</label>
                            </td>
                            <td>
                                {{ form.reminder_email }}
                                Send to this address
                                {% for error in form.errors.reminder_email %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="first">
                                <div class="checkbox">
                                    {{ form.reminder_with_sms }}
                                    {{ form.reminder_with_sms.label_tag }}
                                </div>
                                <label class="label" for="id_reminder_with_sms">SMS:</label>
                            </td>
                            <td>
                                {{ form.reminder_phonenumber }}
                                Send to this number
                                {% for error in form.errors.reminder_phonenumber %}
                                    <div class="error">{{ error }}</div>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="reminder-time-options options options-gray">
                    <header>
                        Please select the amount of time to remind you about your event(s)
                    </header>
                    <table>
                        <tr {% if account|args:'DAYS'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}class="active"{% endif %}>
                            <td class="first">
                                <div class="checkbox">
                                    <input type="checkbox"
                                           {% if account|args:'DAYS'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}checked{% endif %}
                                           id="id_reminder_type_state_days"
                                           value="1"
                                           name="reminder_type_state_days"
                                           data-type="reminder_type_option" />
                                    <label for="id_reminder_type_state_days"></label>
                                </div>
                            </td>
                            <td class="second">
                                {{ form.reminder_days_before_event }}
                            </td>
                            <td>
                                Day(s) before the event begins
                            </td>
                        </tr>
                        <tr {% if account|args:'HOURS'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}class="active"{% endif %}>
                            <td class="first">
                                <div class="checkbox">
                                    <input type="checkbox"
                                           {% if account|args:'HOURS'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}checked{% endif %}
                                           id="id_reminder_type_state_hours"
                                           value="1"
                                           name="reminder_type_state_hours"
                                           data-type="reminder_type_option" />
                                    <label for="id_reminder_type_state_hours"></label>
                                </div>
                            </td>
                            <td class="second">
                                {{ form.reminder_hours_before_event }}
                            </td>
                            <td>
                                Hour(s) before the event begins
                            </td>
                        </tr>
                        <tr {% if account|args:'WEEKDAY'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}class="active"{% endif %}>
                            <td class="first">
                                <div class="checkbox">
                                    <input type="checkbox"
                                           {% if account|args:'WEEKDAY'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}checked{% endif %}
                                           id="id_reminder_type_state_weekday"
                                           value="1"
                                           name="reminder_type_state_weekday"
                                           data-type="reminder_type_option" />
                                    <label for="id_reminder_type_state_weekday"></label>
                                </div>
                            </td>
                            <td class="second">
                                <div class="dropdown week-day-reminder" data-dropdown-class="week-day-reminder-list">
                                    {{ form.reminder_on_week_day }}
                                </div>
                            </td>
                            <td>
                                Send me reminder on this day every week
                            </td>
                        </tr>
                        <tr {% if account|args:'EACH_DAY'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}class="active"{% endif %}>
                            <td class="first">
                                <div class="checkbox">
                                    <input type="checkbox"
                                           {% if account|args:'EACH_DAY'|args:form.reminder_type_state.value|call:'check_reminder_type_state' %}checked{% endif %}
                                           id="id_reminder_type_state_each_day"
                                           value="1"
                                           name="reminder_type_state_each_day"
                                           data-type="reminder_type_option" />
                                    <label for="id_reminder_type_state_each_day"></label>
                                </div>
                            </td>
                            <td class="second">
                                <input type="text"
                                       value="{{ form.reminder_each_day_at_time.value|date:"h:i A"|lower }}"
                                       placeholder="Time"
                                       name="reminder_each_day_at_time"
                                       id="id_reminder_each_day_at_time"
                                       data-type="each_day_input"
                                       data-placeholder="Time" />
                                <input type="text"
                                       value="{{ form.reminder_each_day_from.value|none_convert }}"
                                       placeholder="Days"
                                       name="reminder_each_day_from"
                                       maxlength="2"
                                       id="id_reminder_each_day_from"
                                       data-type="each_day_input"
                                       data-placeholder="Days" />
                            </td>
                            <td>
                                Remind me Daily, X number of days before the event at this appointed time
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="submit" name="submitoptions" class="button reminder-button" value="Save" />
            </form>
        </div>
    </div>

    {% include 'accounts/_account_settings_menu.html' %}
{% endblock %}