
.login-entry-info .pop-up-wrapper
{
    z-index:11;
    position:absolute;
    left:-20px;
    top:15px;
    display:none;
}
.login-entry-info .pop-up-wrapper-container
{
    width:350px;
    height:220px;
    border:1px solid #41c3ff;
    position:relative;
    background-color:#FFF;
}
.login-entry-info .pop-up-wrapper-container .contents
{
    width:auto;
    padding:20px 10px 10px 20px;
}

.login-entry-info .pop-up-wrapper-container .contents .pop-featured-details
{
    float:left;
    margin-left:5px;
    width:220px;
    color:#0066cb;
}

.login-entry-info .pop-up-pointer
{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #3dc1ff;
    width:0;
    height:0;
    margin-left:30px;
    display:block;
}
.login-entry-info .space{
    width:60px;
    float:left;
}
.login-entry-info ul
{
    margin:0px;
    padding:0px;
    list-style:none;
}
.login-entry-info ul li:hover .pop-up-wrapper
{
    display:block;
}
.login-entry-info ul li
{
    float:left;
    position:relative;
}
.login-entry-info ul li a
{
    text-decoration:none;
}

.login-entry-info ul li a:hover
{
    color:#0066cc;
    font-weight:bold;
}
/*end login popu login*/

.sign-up-wrapper-top
{
    width: 284px;
    min-height:35px;
    background: #ffffff;
    float:right;
    margin-right: 6px;
    border-radius: 0 0 10px 10px;
}

.sign-up-and-facebook
{
    width: auto;
    padding: 2px 9px;
    color: #797979;
    text-decoration: none;
}

.sign-up-and-facebook a
{
    color: #022e52;
    text-decoration:none;
}

.sign-up-wrapper-top .sign-up-and-facebook {
    position: relative;
    padding-top: 4px;
}

.sign-up-and-facebook .login-entry-info {
    line-height: 22px;
}

.login_with_facebook {
    display: inline-block;
    background: url("/static/images/fb-sign-in-with-facebook.png") no-repeat;
    width: 75px;
    height: 22px;
    margin-left: 15px;
}

.sign-up-and-facebook .login-entry-info ul li a,
.sign-up-and-facebook .login-entry-info ul li span {
    position: relative;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    font-size: 12px;
}

.login-entry__link {
    color: #999999;
    font-weight: bold;
}

.login-entry__link:hover {
    font-weight: bold !important;
}

.login-entry__divider {
    color: #022e52;
    font-weight: bold;
}

.sign-up-and-facebook .login-entry-info ul li a:hover {
    font-weight: normal;
    text-decoration: underline;
}

.sign-up-and-facebook .login-entry-info ul li a.login_with_facebook {
    top: 2px;
}

.user-profile {
    width: 197px;
    text-overflow: ellipsis;
    padding-right: 8px;
    position: relative;
    height: 28px;
}

.user-profile a span {
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
    margin-left: 5px;
}

.user-profile__mugshot {
    width: 20px;
    height: 20px;
    margin: 2px 0 0 2px;
}

.user-profile__link, .choose-user-profile-button {
    display: block;
    float: left;
}

.user-profile__link {
    border: 1px solid #cccccc;
    border-right: 0;
    white-space: nowrap;
    border-radius: 4px 0 0 4px;
    padding-right: 10px;
    color: #022e52 !important;
    font-weight: bold;
    width: 160px;
}

.user-profile__link:hover {
    text-decoration: none !important;
    font-weight: bold !important;
}

.login-entry-info {
    position: relative;
}

.login-entry-info .choose-user-profile-popup {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    background: #fff;
    width: 198px;
    z-index:20;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.login-entry-info .choose-user-profile-popup li {
    display: block;
    float: none;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    padding: 0 10px 0 1px;
}

.sign-up-and-facebook .login-entry-info .choose-user-profile-popup li a {
    top: -1px;
    display: block;
    color: #022e52;
    font-weight: bold;
}

.sign-up-and-facebook .login-entry-info .choose-user-profile-popup li a:hover {
    font-weight: bold;
    text-decoration: none;
}

.login-entry-info .choose-user-profile-popup li.active {
    background-color: #f5f5f5;
}

.login-entry-info .choose-user-profile-popup li img {
    margin-right: 10px;
}

.user-profile .choose-user-profile-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid #cccccc;
    position: relative;
    line-height: 24px;
    border-radius: 0 4px 4px 0;
}

.user-profile__button_state_pressed {
    background: #ebebeb;
    border-color: #adadad;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.user-profile .caret {
    display: inline-block;
    height: 0 !important;
    margin: 11px 0 0 8px;
    vertical-align: middle;
    width: 0;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
}

.notices-block {
    background-color: #CB4437;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font: bold 11px/15px Arial;
    min-width: 15px;
    position: absolute;
    left: 0;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    top: -2px;
    z-index: 990;
}

a.notices-count {
    display: block;
    color: #ffffff !important;
    font: bold 11px/15px Arial !important;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    line-height: 15px !important;
    height: 15px !important;
    top: 0 !important;
    padding: 0 2px;
}

a.notices-count:hover {
    text-decoration: underline;
}