{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load date_formatting %}
{% load cropping %}

{% block head %}
    <link href="{{STATIC_URL}}styles/modal.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/featured/setup.css" rel="stylesheet" type="text/css" />
    
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js"></script>
    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/featured/setup-page.js" type="text/javascript"></script>

{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "admin_featured" %}

        <div class="box visible options">
            <h1>
                Make "{{ event.name }}" featured
            </h1>

            {%if form.errors %}
                <div class="errors" style="border:1px solid RED;border-radius:4px;">
                    <ul style="list-style-type: none;">
                        <li id="all-info">
                            {{ form.errors }}
                            {% for error in form.non_field_errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            {% endif %}

            <form method="post" name="featured-events-setup" >
                {% csrf_token %}
                <table class="datetime-table">
                    <tr>
                        <td>
                            Start Date:
                        </td>
                        <td>
                            <a href="javascript:void;" class="balloon">
                                <div class="buttonq"></div>
                            </a>
                            <div class="balloon-content">
                                <h3>
                                    Help - Featured Events
                                    <i>[Start Date, End Date]:</i>
                                </h3>
                                <p>
                                    Pick your dates and times
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="date dropdown">
                                {{ form.start_time }}
                            </div>
                        </td>
                        <td class="space">&nbsp;</td>
                        <td>
                            End Date:
                        </td>
                        <td>
                            <div class="date dropdown">
                                {{ form.end_time }}
                            </div>
                        </td>
                        <td class="space">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            Days to display:
                        </td>
                        <td>
                            <a href="javascript:void;" class="balloon">
                                <div class="buttonq"></div>
                            </a>
                            <div class="balloon-content">
                                <h3>
                                    Help - Featured Events
                                    <i>[Days to display]:</i>
                                </h3>
                                <p>
                                    Pick days to display
                                </p>
                            </div>
                        </td>
                        <td>
                            <input id="days_to_display" type="text" name="days_to_display">
                        </td>
                        <td colspan="4" class="long">
                            <!-- TODO: change text -->
                            Enter the amount of day event will be featured
                        </td>
                    </tr>
                </table>

                <div class="choose-province-block">
                    <header>Select province/territory to show your <b>featured event (choices)</b></header>
                    <div class="options">
                        <div class="teritory-node">
                            <div class="checkbox">
                                <input {% if form.all_of_canada.value %}checked="checked"{% endif %} type="checkbox" id="id_all_of_canada" value="true" name="all_of_canada" />
                                <label for="id_all_of_canada"></label>
                                <label for="id_all_of_canada">All of Canada</label>
                            </div>
                        </div>
                        {% for region in form.fields.regions.queryset %}
                        <div class="teritory-node region">
                            <div class="checkbox">
                                <input {% for current_region in form.regions.value %}{% if region.pk = current_region|add:0 %}checked="checked"{% endif %}{% endfor %} type="checkbox" id="id_regions_{{ forloop.counter0 }}" value="{{ region.id }}" name="regions" />
                                <label for="id_regions_{{ forloop.counter0 }}"></label>
                                <label for="id_regions_{{ forloop.counter0 }}">
                                    {{ region.name }}
                                </label>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="clr"></div>
                    </div>
                </div>

                <input type="submit" name="submitoptions" class="button standart submit" value="Save">

            </form>            
        </div>
    </div>
{% endblock %}