{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load date_formatting %}
{% load cropping %}
{% load featured_event %}
{% load endless %}
{% load cf_pagination %}

{% block head %}
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/modal.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/featured_events.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/featured/setup.css" rel="stylesheet" type="text/css" />
    
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js"></script>
    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/featured/setup-page.js" type="text/javascript"></script>

{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "admin_featured" %}

        <div class="box visible">
            <table class="profile-table" celpadding="0" cellspacing="0">
                <tr>
                    <th>Event</th>
                    <th>Impressions</th>
                    <th>Clicks</th>
                    <th>Owned by</th>
                    <th>From-To</th>
                    <th>Regions</th>
                    <th>Actions</th>
                </tr>

                {% paginate 10 featured_events %}
                {% for featured_event in featured_events %}
                <tr>
                    <td>
                        {% featured_event featured_event.event_day %}
                    </td>
                    <td>{{ featured_event.views }}</td>
                    <td>{{ featured_event.clicks }}</td>
                    <td>
                        {% if featured_event.owner %}
                            <a href="{% url "admin:accounts_account_change" featured_event.owner.id %}" target="_blank">{{ featured_event.owner.user.username }}</a>
                        {% endif %}
                    </td>
                    <td align="center">
                        {{ featured_event.start_time|date:"b d, Y"|title }}
                        <br/>-<br/>
                        {{ featured_event.end_time|date:"b d, Y"|title }}
                    </td>
                    <td>
                        {% if featured_event.all_of_canada %}
                            All of Canada
                        {% else %}
                            {{ featured_event.regions_representation }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url "admin_edit_featured" featured_event.id %}">
                            <img src="/static/images/edit-icon.png"/>
                        </a>
                        <a href="{% url "admin_remove_featured" featured_event.id %}" class="danger">
                            <img src="/static/images/delete-icon.png"/>
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            No featured events was found
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% cf_pagination %}
        </div>
    </div>
{% endblock %}