{% extends 'cf-admin/base.html' %}
{% load admin_menu %}
{% load endless %}
{% load cf_pagination %}

{% block head %}
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/select2.css" rel="stylesheet" type="text/css" />
    <script src="{{STATIC_URL}}js/select2.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/actions/free-try-page.js" type="text/javascript"></script>    
{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "free_try" %}
        <div class="box visible options">
            <h1>Get free try for user</h1>
            <form method="post" name="share-campaign-stats" action="{% url 'free_try' %}">
                {% csrf_token %}
                <input type="text" id="id_budget" name="bonus_budget" value="0.0" placeholder="free budget">
                <input type="hidden" name="bonus_budget_currency" value="CAD">
                <input name="user_id" class="user-input" value="" data-ajax-url="{% url 'admin_user_autocomplete' %}"  />
                <input type="submit" value="Free try" />
            </form>

            <table class="profile-table" celpadding="0" cellspacing="0">
                <tr>
                    <th class="action">Account</th>
                    <th class="action">Free budget</th>
                    <th class="action">Actions</th>
                </tr>
                {% paginate 10 accounts_with_bonus %}
                {% for account in accounts_with_bonus %}
                <tr>
                    <td class="action">
                        {{ account.user }}
                    </td>                    
                    <td class="action">
                        {{ account.bonus_budget }}
                    </td>                    
                    <td class="action">
                        <a href="{% url "admin_remove_free_try" account.id %}">
                            Remove
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            No free tries was found
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% cf_pagination %}            
        </div>
    </div>
{% endblock %}