<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='en_US'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>City Fusion</title>
    
    <link href="{{STATIC_URL}}styles/styles.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/styles-new.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/widgets.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/pagination.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="{{STATIC_URL}}date/css/redmond/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}styles/cf-admin.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->

    <link href="{{STATIC_URL}}styles/accounts/signin_signup.css" type="text/css" rel="stylesheet" media="all" />
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" type="text/css" rel="stylesheet" media="all" />
    <link href="{{STATIC_URL}}styles/browse/browse.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/browse/browse_event_list.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="{{STATIC_URL}}js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}date/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/event/purl.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/event/query_filters.js" ></script>
    <script src="{{STATIC_URL}}js/create_event/dombuilder.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="{{STATIC_URL}}js/accounts/choose-account-context.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/messages.js"></script>
    
    <script type="text/javascript" src="{{STATIC_URL}}js/searchpad/ajax-popup.js" ></script>
    {% block head %}{% endblock %}    
</head>
<body>
    {% block body_start %}{% endblock body_start %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="wrapper">
        <div class="primary-header" data-no-turbolink>
            <div class="content">
                <div class="logo">
                    <a href="/">
                        <img src="{{STATIC_URL}}images/logo.png" />
                    </a>
                </div>

                <div class="sign-up-wrapper-top">
                    {% include '_signin_signup.html' %}
                    <div class="post-events-for-free">
                        <a href="{% url 'event_create' %}">
                            Post events for <span>free</span>
                        </a>
                    </div>
                </div>

                <div class="clr"></div>
            </div>
        </div>
        <div class="page-container {{ page_type }}">
            <div class="content-wrapper">
                <h1>
                    {% block admin_title %}
                        Cityfusion Admin
                    {% endblock %}
                </h1>
                {% block page %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
