{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load endless %}
{% load cf_pagination %}

{% block head %}
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/select2.css" rel="stylesheet" type="text/css" />
    <script src="{{STATIC_URL}}js/select2.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/actions/change-venue-owner.js" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu 'transfer_to_owner' %}
        <div class="box visible options">
            <table class="tabs" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <a href="{% url 'change_event_owner_search' %}"><span>Event owner</span></a>
                    </td>
                    <td>
                        <a href="{% url 'mass_event_transfer' %}"><span>Mass event transferring</span></a>
                    </td>
                    <td class="current">
                        <span>Venue owner</span>
                    </td>
                    <td>
                        <a href="{% url 'mass_venue_transfer' %}"><span>Mass venue transferring</span></a>
                    </td>
                </tr>                
            </table>
            <div class="box visible options">
                <h1>
                    Search venues
                </h1>
                <form method="post" name="search-events" >
                    {% csrf_token %}
                    Please, provide part of venue title <br/>
                    <input name="search" placeholder="Title" value="{{ search }}"/>
                    <input type="submit" value="Search" />
                </form>

                <table class="profile-table" celpadding="0" cellspacing="0">
                    <tr>
                        <th>
                            <a href="?order=venue">
                                Venue
                            </a>
                        </th>
                        <th>
                            <a href="?order=owner">
                                Owner
                            </a>
                        </th>
                        <th>City</th>
                        <th width="50%">Change owner</th>
                    </tr>

                    {% paginate 10 venue_accounts %}

                    {% for venue_account in venue_accounts %}
                    <tr>
                        <td>
                            {{ venue_account.venue.name }}
                        </td>
                        <td>
                            {{ venue_account.account.user }}
                        </td>
                        <td>{{ venue_account.venue.city.name }}</td>
                        <td>
                            <form method="post" name="venue-change-owner" action="{% url 'change_venue_owner' venue_account.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="search" value="{{ search }}">
                                <input name="owner_id" class="user-input" value="" data-ajax-url="{% url 'admin_user_autocomplete' %}"  />
                                <input type="submit" value="Change" />
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">
                                No venues was found
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% cf_pagination %}
            </div>
        </div>
    </div>
{% endblock %}