{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load endless %}
{% load cf_pagination %}

{% block head %}
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "claim_event" %}

        <div class="box visible">
            <table class="profile-table" celpadding="0" cellspacing="0">
                <tr>
                    <th>Event</th>
                    <th>Message</th>
                    <th>Transfer event</th>
                    <th>Refuse</th>
                </tr>
                {% paginate 10 claims %}
                {% for claim in claims %}
                <tr>
                    <td>
                        <div class="entry-wrapper">
                            {% event_block claim.event %}
                        </div>
                    </td>                    
                    <td>
                        {{ claim.message }}
                    </td>                    
                    <td>
                        <a href="{% url "transfer_event" claim.id %}" target="_blank">
                            Transfer to 
                        </a>
                        <a href="{% url "admin:accounts_account_change" claim.account.id %}" target="_blank">{{ claim.account.user.username }}</a>
                    </td>
                    <td>
                        <a href="{% url "claim_event_refuse" claim.id %}">Refuse</a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                            No claims was found
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% cf_pagination %}
        </div>
    </div>
{% endblock %}