{% load date_formatting %}

{% for event in events %}
    <div class="entry-info home-page extended"
         data-no-turbolink data-type="event_item"
         data-event-id="{{ event.id }}"
         data-event-desc="{{ event.description }}"
         data-event-tickets="{{ event.ticket_uri }}"
         data-event-location="{{ event.location }}">
        <div class="entry-img-prev">
            <a href="https://www.facebook.com/events/{{ event.id }}/">
                <img src="{{ event.picture }}" alt="" height="60" width="60" />
            </a>
        </div>
        <div class="entry-details-wrapper">
            <div class="title">
                <a href="https://www.facebook.com/events/{{ event.id }}/">
                    {{event.name}}&nbsp;
                </a>
            </div>
            <div class="entry-date">
                <div class="date-line">
                    From:
                    {{event.start_time|date:"l, F d, Y, g:i A"}}
                </div>
                {% if event.end_time  %}
                    <div class="date-line">
                        To:
                        {{event.end_time|date:"l, F d, Y, g:i A"}}
                    </div>
                {% endif %}
            </div>
            <div class="entry-description">
                {{ event.location }}{% if event.venue.street %}, {{ event.venue.street }}{% endif %}{% if event.venue.city %}, {{ event.venue.city }}{% endif %}
            </div>
            <div class="import-buttons" data-type="buttons_block">
                <input type="button" data-type="button_import" value="Import" data-complete="{% if event.venue.city and event.venue.longitude and event.venue.latitude %}true{% else %}false{% endif %}" />
                <input type="button" data-type="button_reject" value="Reject" />
            </div>
        </div>
    </div>
{%endfor%}