{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}

{% block head %}
    <link href="{{STATIC_URL}}styles/place_autocomplete.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/autoSuggest.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/description.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/tagspopup.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/suggest.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/select2.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>

    <script src="{{STATIC_URL}}fancybox/jquery.fancybox.js" type="text/javascript"></script>    
    <script src="{{STATIC_URL}}js/tags.popup.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}selectable/js/jquery.dj.selectable.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/location/jquery.geocomplete.js"></script>
    <script src="{{STATIC_URL}}js/location/suggest_map.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/location/suggest_form.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/location/venue_autocomplete.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/select2.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/actions/import-facebook-events.js" type="text/javascript"></script>
    <script type="text/javascript" src="/facebook-for-turbolinks.js"></script>
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js" type="text/javascript"></script>

    {% include 'variables.html' %}

    {{ form.map }}
    {{ form.media.js }}
    <script type="text/javascript">
        var crsf_token = "{{ csrf_token }}";
    </script>
{% endblock %}

{% block body_start %}
    <div data-id="location_layer" class="modal-background">
        <div class="modal-dialog">
            <table>
                <tr class="location-tr" data-id="location_tr">
                    <td>
                        Venue
                    </td>
                    <td>
                        <div class="location">{{ form.place }}</div>
                        <div class="show-map"></div>
                        <div class="suggest">
                            <div class="error">
                                All fields is required
                            </div>
                            <table>
                                <tr>
                                    <td>Venue name</td>
                                    <td>{{form.venue_name}}</td>
                                </tr>
                                <tr>
                                    <td>Street address</td>
                                    <td>{{form.street}}</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>
                                        {{form.city}}
                                        {{form.city_identifier}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td>
                                        <div class="location_map">{{form.location}}</div>
                                    </td>
                                </tr>
                            </table>
                            <div class="cancel-button">Cancel</div>
                            <div class="reset-button">Clear</div>
                            <div class="submit-button">Submit</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tags_bottom">
                        Tags
                    </td>
                    <td>
                        <div class="tags-popup-wrapper">
                            <div class="tags-popup">
                                <div class="tags-container"></div>
                                <div class="close-button">Close</div>
                            </div>
                        </div>
                        {{form.tags}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Tickets
                    </td>
                    <td>
                        {{form.tickets}}
                    </td>
                </tr>
            </table>
            <div class="modal-layer-buttons">
                <input data-id="location_button_ok" type="button" value="Ok" />
                <input data-id="location_button_cancel" type="button" value="Cancel" />
            </div>
        </div>
    </div>
{% endblock body_start %}

{% if not is_admin %}
    {% block admin_title %}
       Import events from Facebook
    {% endblock %}
{% endif %}

{% block page %}
    <div class="tabs-container">
        {% if is_admin %}
            {% cf_admin_menu "import_facebook_events" %}
        {% endif %}

        <div class="box visible options">
            <div class="form-block" data-id="form_block">
                <p>
                    {% if is_admin %}
                        <input type="hidden" class="bigdrop city-input" value=""
                               data-ajax-url="{% url 'admin_location_autocomplete' %}"
                               data-id="city_input" />
                        AND/OR
                        <input type="text" class="modern-input" placeholder="Facebook page url" data-id="fb_page_url" />
                        <input class="events-search-button" type="button" value="Search" data-id="search_button" />
                    {% else %}
                        {% if fb_pages %}
                            <div class="dropdown fb-pages-dropdown"
                                 data-dropdown-class="fb-pages-dropdown-options">
                                <select autocomplete="off" data-id="fb_page_url">
                                    {% for fb_page in fb_pages %}
                                        <option value="{{ fb_page }}">{{ fb_page }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input class="events-search-button" type="button" value="Search" data-id="search_button" />
                        {% else %}
                            You should
                            <a href="{% url 'userena_profile_edit' user.username %}" style="text-decoration: underline">
                                add Facebook pages
                            </a>
                            for import
                        {% endif %}
                    {% endif %}
                </p>
                <input type="hidden" value="" data-id="city_name" />
                {% csrf_token %}
                <div class="indicator-block" data-id="indicator_block">
                    <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
                </div>
                <img class="mini-indicator" data-id="mini_indicator" src="{{ STATIC_URL }}images/mini-ajax-loader.gif" />
            </div>
            <div>
                <div class="entry-wrapper" data-id="facebook_events_list"
                     data-load-url="{% url 'load_facebook_events' %}"
                     data-create-url="{% url 'event_create_from_facebook' %}"
                     data-reject-url="{% url 'reject_facebook_event' %}"
                     data-graph-refresh-url="{% url 'refresh_facebook_graph' %}"></div>
                <div data-id="load_more" class="load-more">
                    Load more
                </div>
            </div>
        </div>
    </div>
{% endblock %}