{% extends 'base.html' %}
{% block title %} Audit event {% endblock %}
{% block page %}
<div class="wrapper">
    <div class="page-container">        
        <div class="content-wrapper">
            <div class="content-wrapper-panel">
                <div class="main-content-wrapper">
                    <h1>Audit event "{{ audit_event.name }}"</h1>                    
                    <div class="name">
                        {{ audit_event.name }}
                    </div>
                    <div class="description">
                        {{ audit_event.description }}
                    </div>
                    <br>
                    <form action='{% url 'audit_event_update' audit_event.id %}' method="POST">
                        {% csrf_token %}
                        <input name="name" value="{{ audit_event.name }}">
                        <textarea name="description">
                            {{ audit_event.description }}
                        </textarea>
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}