{% extends 'base.html' %}
{% block title %} Audit events {% endblock %}
{% block page %}
<div class="wrapper">
    <div class="page-container">        
        <div class="content-wrapper">
            <div class="content-wrapper-panel">
                <div class="main-content-wrapper">
                    <h1>Audit events</h1>
                    {% if not audit_events %}
                        <p>
                            There is nothing to audit
                        </p>
                    {% endif %}
                    {% for audit_event in audit_events %}
                        <div class="audit-event-wrapper">
                            <div class="name">
                                {{ audit_event.name }}
                            </div>
                            <div class="description">
                                {{ audit_event.description }}
                            </div>
                            <div class="actions">
                                <a href="{% url 'audit_event_remove' id=audit_event.id %}">
                                    Remove event
                                </a>
                                <a href="{% url 'audit_event_edit' id=audit_event.id %}">
                                    Edit event
                                </a>
                                <a href="{% url 'audit_event_approve' id=audit_event.id %}">
                                    Approve event
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}