{% extends 'base.html' %} 
{% load i18n %} 
{% load url from future %} 
{% load dictionary_tags %}
{% load setup_advertising %}
{% load gears %}

{% block head %}
    {% css_asset_tag "setup-advertising-combine.css" %}
    {% js_asset_tag "setup-advertising-combine.js" %}

    <link href="{{STATIC_URL}}fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="{{STATIC_URL}}fancybox/jquery.fancybox.js" type="text/javascript"></script>
{% endblock %}

{% block body_inner %}
    <div class="ad-sizes-preview__box">
        <div class="ad-sizes-preview__sample t_300_250">
            <img src="{{STATIC_URL}}advertising/images/ad_300_250.jpg" alt="" />
        </div>
        <div class="ad-sizes-preview__sample t_300_100">
            <img src="{{STATIC_URL}}advertising/images/ad_300_100.jpg" alt="" />
        </div>
        <div class="ad-sizes-preview__sample t_300_600">
            <img src="{{STATIC_URL}}advertising/images/ad_300_600.jpg" alt="" />
        </div>
        <div class="ad-sizes-preview__sample t_728_90">
            <img src="{{STATIC_URL}}advertising/images/ad_728_90.jpg" alt="" />
        </div>
        <div class="ad-sizes-preview__sample t_120_60">
            <img src="{{STATIC_URL}}advertising/images/ad_120_60.jpg" alt="" />
        </div>
        <div class="ad-sizes-preview__sample t_468_60">
            <img src="{{STATIC_URL}}advertising/images/ad_468_60.jpg" alt="" />
        </div>
        <div class="ad-sizes-preview__sample t_120_600">
            <img src="{{STATIC_URL}}advertising/images/ad_120_600.jpg" alt="" />
        </div>
    </div>
    {{ block.super }}
{% endblock body_inner %}

{% block page %}
    <div class="advertising-form">
        <form  enctype="multipart/form-data" method="post" name="advertising-setup">
            {% csrf_token %}
            <div class="advertising-form__details">
                <div class="advertising-form__details-title">
                    Advertising - setup
                </div>
                <div class="advertising-form__details-content">
                    {%if form.errors %}
                        <div class="errors" style="border:1px solid RED;border-radius:4px;">
                            <ul style="list-style-type: none;">
                                <li id="all-info">
                                    {% for error in form.non_field_errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.name.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.website.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.active_to.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.bonus_budget.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.order_budget.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>

                    {% endif %}
                    <header class="advertising-form__field-title">
                        Name of Campaign
                    </header>
                    <div class="advertising-form__text-field">
                        {{ form.name }}
                    </div>

                    <header class="advertising-form__field-title">
                        Campaign owner
                    </header>
                    <div class="advertising-form__list-field">
                        {{ form.venue_account }}
                    </div>

                    <header class="advertising-form__field-title">
                        Campaign website URL
                    </header>
                    <div class="advertising-form__text-field">
                        {{ form.website }}
                    </div>

                    <header class="advertising-form__field-title">
                        Will be active
                    </header>
                    <div class="advertising-form__text-field advertising-form__text-field_type_interval">
                        {{ form.active_from }} — {{ form.active_to }}
                    </div>

                    <div class="advertising-form__advertising-options">
                        {% setup_advertising_types %}
                        {% setup_advertising_upload %}
                        {% setup_advertising_regions %}
                    </div>
                </div>
            </div>
            <div class="advertising-form__budget">
                {% setup_advertising_payments %}
                <div class="advertising-form__buttons">
                    <span class="advertising-form__submit">Save</span>
                </div>
            </div>
            <div class="clr"></div>
        </form>
    </div>
{% endblock %}

{% block advertising %} {% endblock %}