{% load gears %}

{% block menuhead %}
    {% js_asset_tag 'main-navigation-combine.js' %}    
{% endblock %}

<div class="menu-wrapper" data-no-turbolink>
    <ul class="main-menu">
        <li>
            <a href="{% url 'event_browse' %}" {% if request.path == '/events/' %} class="active"{%endif%}>
                Home
                <span class="hover-effect"></span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="search-pad-popup-open-button">
                Search Pad
                <span class="hover-effect"></span>
            </a>
        </li>
        <li>
            <a href="{% url 'event_create' %}" {% if request.path == '/events/create/' %} class="active"{%endif%}>
                Post Events
                <span class="hover-effect"></span>
            </a>
        </li>
        <li>
            <a href="{% url 'venues' %}" {% if request.path == '/venues/' %} class="active"{%endif%}>
                Venues
                <span class="hover-effect"></span>
            </a>
        </li>
    </ul>
    <form action="/events/" method="get" name="sform">
        <div class="location-wrapper">
            <div class="location-label">Location</div>
            <div class="location-selection-wrapper">
                <div class="location-text-box">
                    <input type="text"
                           name="location"
                           class="location"
                           value="{{ user_location.user_location_name }}"
                           data-placeholder="{{ user_location.user_location_name }}"
                           data-location-id="{{ user_location.user_location_id }}"
                           autocomplete="off"
                           onBlur="onBlur(this)"
                           onFocus="onFocus(this)">
                </div>
                <div class="search-lists">
                    <ul>
                        <li class="search-lists__title">Pick a Location</li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <div class="search-wrapper">
            <div class="search-label">Search For</div>
            <div class="search-selection-wrapper">
                <div class="search-text-box">
                    <input class="search"
                           type="text"
                           name="search"
                           value="(e.g. jazz)"
                           data-placeholder="(e.g. jazz)"
                           onBlur="onBlur(this)"
                           onFocus="onFocus(this)">
                    <div class="search-submission"></div>
                    <div class="clr"></div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </form>
    <div class="clr"></div>
</div>