{% load cropping %}
{% load notices_tags %}
{% load common_tags %}
<div class="sign-up-and-facebook">
    <!--start login-->
    <div class="login-entry-info">
        <ul>
            {% if user.is_authenticated %}
                <li class="user-profile">
                    {% if not current_venue_account %}
                        {% notices_block user %}
                        <a href="{% url 'userena_profile_detail' user.username %}" class="user-profile__link">
                            <img src="{{ request.account.get_mugshot_url }}"
                                 class="user-profile__mugshot"
                                 alt="Your mugshot" />
                            <span title="{{ user.username }}">
                                {{ user.username|shorten_string:18 }}
                            </span>
                        </a>
                    {% else %}
                        <a href="{% url 'private_venue_account' slug=current_venue_account.slug %}"
                           class="user-profile__link">
                            {% if current_venue_account.picture %}
                                <img src="{% cropped_thumbnail current_venue_account "cropping" width=20 %}"
                                     class="user-profile__mugshot" />
                            {% else %}
                                <img src="{{STATIC_URL}}images/default-event.jpg" class="user-profile__mugshot" alt="">
                            {% endif %}
                            <span title="{{ current_venue_account.venue.name }}">
                                {{ current_venue_account.venue.name|shorten_string:18 }}
                            </span>
                        </a>
                    {% endif %}
                    <div class="choose-user-profile-button">
                        <span class="caret"></span>
                    </div>
                </li>                
                <li>
                    <a class="login-entry__link" href="{% url 'userena_signout' %}">Sign out</a>
                </li>
            {% else %}
                <li>
                    <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
                        <a class="login_with_facebook" href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);"></a>
                        <input type="hidden" value="{{ request.path }}" name="next" />
                        <input type="hidden" value="{{ request.path }}" name="register_next" />
                        <input type="hidden" value="{{ request.path }}" name="error_next" />
                        {% csrf_token %}
                    </form>
                </li>
                <li>
                    <span class="login-entry__divider">&nbsp; | &nbsp;</span>
                    <a class="login-entry__link" href="{% url 'userena_signin' %}">Login</a>
                    <span class="login-entry__divider">&nbsp; | &nbsp;</span>
                </li>
                <li>
                    <a class="login-entry__link" href="{% url 'userena_signup' %}">Sign up</a>
                </li>
            {% endif %}
        </ul>
        <div class="clr"></div>

        {% if user.is_authenticated %}
            <ul class="choose-user-profile-popup">
                <li class="{% if not current_venue_account %} active{% endif %}">
                    <a href="{% url 'account_set_context' "root" %}">
                        <img src="{{ profile.get_mugshot_url }}" alt="Your mugshot" class="user-profile__mugshot" />
                        <span title="{{ user.username }}">
                            {{ user.username|shorten_string:20 }}
                        </span>
                    </a>
                </li>
                {% for venue_account in profile.venueaccount_set.all %}
                    <li class="{% ifequal venue_account.id current_venue_account.id %} active{% endifequal %}">
                        <a href="{% url 'account_set_context' venue_account.slug %}">
                            {% if venue_account.picture %}
                                <img src="{% cropped_thumbnail venue_account "cropping" width=20 %}"
                                     class="user-profile__mugshot" />
                            {% else %}
                                <img src="{{STATIC_URL}}images/default-event.jpg" class="user-profile__mugshot" alt="">
                            {% endif %}
                            <span title="{{ venue_account.venue.name }}">
                                {{ venue_account.venue.name|shorten_string:20 }}
                            </span>
                        </a>
                    </li>
                {% empty %}
                    <li>
                        <a href="{% url 'create_venue_account' %}">
                            New venue
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
   </div>
</div>