.jump-popup {
    position: absolute;
    display: none;
    z-index: 10;
    height: 145px;
    width: 495px;
    padding: 18px 0 15px;
    background: #022e52;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.jump-popup_size_narrow {
    width: 448px;
}

.jump-popup .time-row {
    margin-top: 15px;
}

.jump-popup__date-row {
    padding-bottom: 1px;
}

.jump-popup__date-cell, .jump-popup__time-cell {
    float: left;
    margin-left: 35px;
}

.jump-popup_size_narrow .jump-popup__date-cell,
.jump-popup_size_narrow .jump-popup__time-cell {
    margin-left: 25px;
}

.jump-popup__legend {
    color: #ffffff;
    font-size: 13px;
    vertical-align: middle;
}

.jump-popup__legend-wrapper {
    height: 21px;
    line-height: 21px;
    padding-bottom: 1px;
}

.jump-popup__checkbox {
    margin-left: -20px;
}

.jump-popup .date-row {
    margin-top: 10px;
}

.jump-popup .time-row .checkbox, .jump-popup .date-row .checkbox {
    vertical-align: top;
}

.jump-popup .end-time {
    margin-left: 0;
}

.jump-popup .inline {
    display: inline-block;
    width: 196px;
    text-align: left;
}

.jump-popup .inline[disabled] {
    opacity:0.5;
}

.jump-popup .inline div {
    display: inline-block;
}

.jump-popup .time.dropdown {
    width: 92px;
}

.jump-popup .meridian.dropdown {
    width: 53px;
    margin-left: 2px;
}

.jump-popup .date.dropdown {
    width: 174px;
}

.jump-popup .dropdown {
    display: block;
    height: 21px;
    line-height: 21px;
    border: 1px solid #c7c6c6;
    border-radius: 3px;
}

.jump-popup .dropdown:after {
    top: 2px;
    background: url("/static/images/widgets/dropdown-medium.png") no-repeat;
    width: 19px;
    height: 18px;
}

body .jump-popup .dropdown, body .jump-popup .dropdown input {
    font-size: 13px;
    line-height: 21px;
    height: 21px;
    text-align: center;
    color: #000000;
}

.jump-popup .start-time span, .jump-popup .end-time span {
    display: inline-block;
    line-height: 17px;
    vertical-align: middle;
    width: 56px;
}

.jump-popup .date-row .date {
    margin-top: 8px;
}

.jump-popup .jump-to-date-wrapper {
    width: 100%;
    text-align:center;

}

.jump-to-date-wrapper__button {
    display: inline-block;
    margin-top: 20px;
}

.jump-to-date-wrapper__button:hover {
    background: #808080 !important;
}

.dropdown-content.time {
    width: 112px;
    text-align: center;
}

.dropdown-content.meridian {
    width: 73px;
    text-align: center;
}

/* Jump to date calendar */

.ui-widget-header {
    background: none repeat scroll 0 0 #022E52;
    border: 1px solid #022E52;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_72a7cf_256x240.png");
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-widget-content {
    background: none repeat scroll 0 0 #EAEAEA;
    border: 1px solid #DDDDDD;
    color: #362B36;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #222222;
    font-weight: bold;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: medium none;
    color: #FFA500;
}


.ui-widget-content .ui-state-default.ui-state-active {
    background: none repeat scroll 0 0 #3465A4;
    border: medium none;
    color: #FFFFFF;
}