ul.tagit {
    border-style: solid;
    border-width: 1px;
    border-color: #C6C6C6;
    background: inherit;
}
ul.tagit li.tagit-choice {
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CAD8F3;

    background: none;
    background-color: #DEE7F8;

    font-weight: normal;
}
ul.tagit li.tagit-choice .tagit-label:not(a) {
    color: #000;
}
ul.tagit li.tagit-choice a.tagit-close {
    text-decoration: none;    
}
ul.tagit li.tagit-choice .tagit-close {
    right: .4em;
}
ul.tagit li.tagit-choice .ui-icon {
    display: none;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 12px;
    color: #000;
}

ul.tagit li.tagit-choice a.tagLabel:hover,
ul.tagit li.tagit-choice a.tagit-close:hover .text-icon {
    color: #fff;
    
}
ul.tagit li.tagit-choice a.tagit-close:hover {
    background: #000;
}
ul.tagit input[type="text"] {
    color: #333333;
    background: none;
}
.ui-widget {
    font-size: 1.1em;
}


ul.searchtags {
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    text-align: left;    
    font-size:0;
    margin-top: 5px;
}


body ul.searchtags li.tagit-choice {
    position: relative;
    display: inline-block;
    list-style: none;
    min-width: 60px;

    padding-left: 10px;
    padding-right: 30px;
    height: 14px;
    max-height: 14px;
    min-height: 14px;
    line-height: 14px;
    border: 1px solid #ededed;
    vertical-align: top;
    background: #e3e3e3;
    margin-right: 4px;
    margin-bottom: 4px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
}

ul.searchtags .ui-effects-wrapper {
    display: inline-block;
}

ul.searchtags li span.tagit-label {    
    color: #454545;
}

ul.searchtags li a.tagit-close {
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 0;
    right: 5px;
    width: 12px;
    height: 12px;
    background: #dcdcdc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #000;
}

ul.searchtags li a.tagit-close:hover {
    
}

/*.l#searchtags li a.tagit-close .text-icon,
ul.searchtags li a.tagit-close .ui-icon-close,*/
ul.searchtags li.tagit-new {
    display:none;
}
