<div class="modal-bg"></div>
<div class="event-posting-form">
    <form method="post" name="post-events" enctype="multipart/form-data">
        {% csrf_token %}
        <!--errors -->
        {%if form.non_field_errors %}
            <span class="event-form-errors">
                <h3>Please correct the following:</h3>
                <div class="errors" style="border:1px solid RED;">
                    <ul style="list-style-type: none;">
                        <li id="all-info">
                            {% for error in form.non_field_errors %}
                                <span class="error">{{ error }}</span>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </span>
        {% endif %}
        <!-- end errors -->

        {{ form.linking_venue_mode }}

        <header>
            Event Name
        </header>
        <div class="event-posting-field event-posting-form__text-field">
            {{form.name}}
            {% for error in form.name.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% for error in form.venue_account_owner.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <header>
            Event Owner
        </header>
        <div class="event-posting-field">
            {{ form.venue_account_owner }}
        </div>

        <header>
            Venue
        </header>
        <div class="event-posting-field">
            <div class="location event-posting-form__text-field">
                {{ form.place }}
            </div>
            <div class="show-map"></div>
            {{ form.venue_identifier }}
            <div class="suggest">
                <div class="error">
                    All fields is required
                </div>
                <table>
                    <tr>
                        <td>Venue name</td>
                        <td class="content-input-text" data-id="venue_name">
                            {{form.venue_name}}
                        </td>
                    </tr>
                    <tr>
                        <td>Street address</td>
                        <td class="content-input-text" data-id="venue_street">
                            {{form.street}}
                        </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td class="content-input-text" data-id="venue_city">
                            {{form.city}}
                            {{form.city_identifier}}
                        </td>
                    </tr>
                    <tr data-id="suggest_map_container">
                        <td>Location</td>
                        <td>
                            <div class="location_map">{{form.location}}</div>
                        </td>
                    </tr>
                </table>
                <div class="cancel-button">Cancel</div>
                <div class="reset-button">Clear</div>
                <div class="submit-button">Submit</div>
            </div>
            {% for error in form.venue_name.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            {% for error in form.location.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <header>
            When
        </header>
        <div class="event-posting-field event-posting-form__text-field">
            {{form.when}}
            {{form.when_json}}
            {{form.event_type}}
            {{form.occurrences_json}}
            
            {% for error in form.when.errors %}
               <div class="error">{{ error }}</div>
            {% endfor %}
            {% for error in form.when_json.errors %}
               <div class="error">{{ error }}</div>
            {% endfor %}
            {% for error in form.occurrences_json.errors %}
               <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="event-posting-price">
            <header>
                Price
            </header>            
            <div class="free-checkbox">
                <div class="checkbox">
                    <input type="checkbox" id="id_price_free">
                    <label for="id_price_free"></label>
                    <label for="id_price_free" class="price-free-label">Free</label>
                </div>
            </div>
            <div class="price-input event-posting-form__text-field">
                {{ form.price }}
            </div>            
            {% for error in form.price.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
        <header>
            Description
        </header>
        <div class="event-posting-field">
            <div class="event-posting-description">
                <div class="label">
                    Change Event details
                </div>

                <div class="description-dropdown dropdown" data-dropdown-class="description-dropdown-list">
                    <select id="id_description_days">
                        <option value="default">Same for all</option>
                    </select>
                </div>
                <div class="richeditor">
                    {{form.description}}
                    {{form.description_json}}
                </div>
            </div>
            

            {% for error in form.description.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <header>
            Website
        </header>
        <div class="event-posting-field event-posting-form__text-field">
            {{form.website}}

            {% for error in form.website.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <header>
            Tickets
        </header>
        <div class="event-posting-field event-posting-form__text-field">
            {{form.tickets}}
        </div>

        <div class="boolean-tags">
            <header class="single">
                Wheelchair Accessible
            </header>
            <div class="event-posting-field">
                <ul>
                    <li>
                        <div class="radio">
                            <input value="True" type="radio" id="id_wheelchair_0" name="wheelchair">
                            <label for="id_wheelchair_0"></label>
                            <label for="id_wheelchair_0">Yes</label>
                        </div>
                    </li>
                    <li>
                        <div  class="radio">
                            <input value="False" type="radio" id="id_wheelchair_1" name="wheelchair" checked="checked">
                            <label for="id_wheelchair_1"></label>
                            <label for="id_wheelchair_1">No</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="boolean-tags">
            <header>
                Would you take a date to this event?
            </header>
            <div class="event-posting-field">
                <ul>
                    <li>
                        <div class="radio">
                            <input value="True" type="radio" id="id_date_night_0" name="date_night">
                            <label for="id_date_night_0"></label>
                            <label for="id_date_night_0">Yes</label>
                        </div>
                    </li>
                    <li>
                        <div  class="radio">
                            <input value="False" type="radio" id="id_date_night_1" name="date_night" checked="checked">
                            <label for="id_date_night_1"></label>
                            <label for="id_date_night_1">No</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="boolean-tags">
            <header>
                Is this event Family Friendly?
            </header>
            <div class="event-posting-field">
                <ul>
                    <li>
                        <div class="radio">
                            <input value="True" type="radio" id="id_family_0" name="family">
                            <label for="id_family_0"></label>
                            <label for="id_family_0">Yes</label>
                        </div>
                    </li>
                    <li>
                        <div  class="radio">
                            <input value="False" type="radio" id="id_family_1" name="family" checked="checked">
                            <label for="id_family_1"></label>
                            <label for="id_family_1">No</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="boolean-tags">
            <header class="single">
                Is this a night life event?
            </header>
            <div class="event-posting-field">
                <ul>
                    <li>
                        <div class="radio">
                            <input value="True" type="radio" id="id_night_life_0" name="night_life">
                            <label for="id_night_life_0"></label>
                            <label for="id_night_life_0">Yes</label>
                        </div>
                    </li>
                    <li>
                        <div  class="radio">
                            <input value="False" type="radio" id="id_night_life_1" name="night_life" checked="checked">
                            <label for="id_night_life_1"></label>
                            <label for="id_night_life_1">No</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        

        <header>
            Tags
            <span class="tags-counter-container">
                (Max 10 Tags)
                <span class="tags-counter">
                    0
                </span> of 10 
            </span>
        </header>
        <div class="event-posting-field">
            <div class="tags-popup-wrapper">
                <div class="tags-popup">
                    <div class="tags-container"></div>
                    <div class="close-button">Close</div>
                </div>
            </div>
            {{form.tags}}

            {% for error in form.tags.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <header>
            Images
        </header>
        <div class="event-posting-field">
            {{ form.images }}
            {% for error in form.images.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}

            <div class="full-screen-popup" data-thumb-width="180" data-thumb-height="180">
                <img class="cropping-image" src="/static/images/default-event.jpg" alt="">
                <div class="save-button">Save image</div>
                <div class="cancel-button">Cancel</div>
            </div>
        </div>

        <header>
            Attachments
        </header>
        <div class="event-posting-field">
            {{ form.attachments }}
            {% for error in form.attachments.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="submit-wrapper">
            <input type="submit" value="Post Event" tabindex="8" data-id="event_submit">
        </div>
    </form>
</div>