<div class="tip">
    <header>Event Name</header>
    <span>Insert a name that will stand out</span>
</div>
<div class="tip">
    <header>Event Owner</header>
    <p>Choose which account will be the owner of this event</p>
</div>
<div class="tip">
    <header>Venue</header>
    <p>
        Type in the name of the venue where the event will be held. However, if you do not find your event, type it in manually by selecting “Suggest a New Venue”
    </p>
</div>
<div class="tip">
    <header>When</header>
    <p>
        Pick your dates and times. A new window will pop up where you can pick your days and your start and end times. On each day is a red plus sign. This is useful for events such as Theaters that will show a play more than once in a day.
    </p>
    <p>
        Multiple Day Events - Use the If your event is a multiple day event like a conference.  By selecting this, it will keep your event as one event versus an event that is not attached to each other. 
    </p>
</div>

<div class="tip">
    <header>Price</header>
    <p>Select Free if the event is free to the public. Otherwise, use things like: $25 / Free before 8pm or 12 & under Free</p>
</div>

<div class="tip">
    <header>Description</header>
    <p>
        Type in your event with as much detail to entice the reader. Note that certain words will be inserted as tags to help you. 
        Further, for events that are more than one day, you can change them individually by selecting each day from the "Same for all days" dropdown menu inside the description.
    </p>
</div>

<div class="tip">
    <header>Website</header>
    <p>Insert website of the event. www.event.ca  Leave blank if no site is available.</p>
</div>

<div class="tip">
    <header>Tickets</header>
    <p>Use descriptors such as: Door / www.ticket.ca / (xxx) 256-5878</p>
</div>

<div class="tip">
    <header>Tags</header>
    <p>
        These are very important because they are used to link your event and ensure it is seen.
        Insert tags into the space by using the "tab" button or a comma. You can delete tags by clicking the X. 
    </p>
    <p>
        Tags will show on the left of home page and on the bottom of the event page itself. 
    </p>
    <p>
        Use tags that best describe your event. For example a night club may want to use tags such as “Night Life, 19+, DJ, Dance, Rave, Life Music” Also put in the name of your venue, location of your venue (Downtown, Broadway,  8th Street), and even the name of the band playing.
    </p>
</div>

<div class="tip">
    <header>Images</header>
    <p>Upload an image used for your event. Max size is 2Mb per image. Images can only include jpeg, jpg, png, or gif.</p>
</div>

<div class="tip">
    <header>Attachments</header>
    <p>Upload attachments associate with the event. Max size is 15Mb per file. Attachments can only include jpeg, jpg, png, gif, pdf, and doc.</p>
</div>