.description-select-day-widget {
    position:relative;
    left:-20px;
    width:100px;
    text-align:center;  
    margin-top:10px;  
}

.description-select-day-widget .toggle {
    margin:5px 0px;
    background: url("/static/images/arrow-down.png") 90% center no-repeat;
    cursor:pointer;
}

.description-select-day-widget .toggle span {
    color:#a1a1a1;
    font-style: italic;
}

.description-select-day-widget .description-days-container{
    border:1px solid #d8d8d8;
    padding:3px 9px;
    background:#f7f7f7;
    width:100px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border-radius: 2px;    
    min-height:60px;
}
.description-select-day-widget .description-days-container.active {
    display:block;
}

.description-select-day-widget .description-days-container .result {
    margin-top: 7px;
    margin-bottom: 3px;
    display: inline-block;    
}
.description-select-day-widget .description-days-container .selected-result {
    text-align:left;
    margin-top:5px;
    border:1px solid #c3c3c3;    
    background: #fff url("/static/images/arrow-down.png") 95% center no-repeat;
    background-bottom:0;
    padding-left:3px;
    cursor: pointer;
}
.description-select-day-widget .description-days-container ul.days-list{    
    border:1px solid #c3c3c3;
    padding:0;
    background:#fff;
    margin-top:0;
    border-top:0;
    max-height: 75px;
    overflow-y: auto;
    display:none;
}
.description-select-day-widget .description-days-container ul.days-list.active {
    display:block;   
}

.description-select-day-widget .description-days-container ul.days-list li{
    list-style: none;
    text-align:left;
    padding-left:3px;
    cursor:pointer;
}
.description-select-day-widget .description-days-container ul.days-list li.selected {
    color:#06C;
}

.price-td .help {
    margin:0;
    margin-left:10px;
    padding:0;
}