.entry-navigation-np ul {
    padding-left: 0;
    height: 31px;
    line-height: 31px;
    margin: 0;
}

.entry-navigation-np .step-links {
    display: inline-block;
    border-left: 1px solid #c8c4c4;
    border-radius: 2px;
    background: #ebeeef;
    margin: 6px 0 5px 0;
}

.entry-navigation-np .step-links a,
.entry-navigation-np .step-links span {
    text-transform: uppercase;
    display: block;
    float: left;
    text-align: center;
    color: #838586;
    font-size: 11px;
    padding: 2px 5px;
    line-height: 14px;
    border: 1px solid #c8c4c4;
    border-left: 0;
}

.entry-navigation-np .step-links a.prev,
.entry-navigation-np .step-links span.prev {
    border-left: 0;
}

.entry-navigation-np .step-links a.page {
    padding: 2px 8px;
}

.entry-navigation-np .step-links a:hover {
    color: #022e52;
}

.entry-navigation-np .step-links a.current {
    font-weight: bold;
    color: #022e52;
}

.entry-navigation-np .step-links a.current:hover {
    cursor: default;
}

.entry-navigation-np .step-links span {
    opacity: 1;
}

.entry-navigation-np .step-links a {
    text-decoration: none;
}

.pagination__list {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #c8c4c4;
}

.pagination__item {
    text-transform: uppercase;
    display: block;
    float: left;
    text-align: center;
    color: #838586;
    font-size: 11px;
    padding: 2px 5px;
    line-height: 14px;
    border: 1px solid #c8c4c4;
    border-left: 0;
}

.pagination__item_pos_current {
    font-weight: bold;
    color: #022e52;
}

.pagination__item_type_filled {
    background: #dddddd;
}

.pagination__item_type_page {
    padding: 2px 8px;
}