.profile-table {
    width: 100%;
    text-align: left;  
    color: #454545;
}

.profile-table th {
    font-weight: bold;
    font-size: 1.2em;
}

.profile-table th.action,
.profile-table td.action {
    padding-left: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-table tr:nth-child(even) {background: #f4f4f4}
.profile-table tr:nth-child(odd) {background: #fff}

.profile-table tr.ad-line:nth-child(even) { background: #c5f9f9; }

.profile-table th,
.profile-table td {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    border-bottom: 1px solid #ccc;
}

.profile-table td input[type="text"],
.profile-table td select {
    width: 100px;
}

.profile-table th a,
.profile-table td a {
    color: #5dacfd;
    text-decoration: none;
}

.profile-table .col {
    float: left;
    width: 25%;
}

.profile-table .image {
    width: 30px;
    float: left;
}

.profile-table .ads-list-table tr {
    background: none;
}

.profile-table .ads-list-table td,
.profile-table .ads-list-table th {
    width: 25%;
    border-bottom: none;
}

.profile-table .ad-desc {
    padding-top: 8px;
    clear: both;
}

a.remove-button {
    color: red;
    font-size: 14px;
}

a.add-button {
    min-width: 16px;
    height: 16px;
    padding-left: 20px;

    background: url("/static/images/accounts/add16x16.png") no-repeat;
}

.profile-table th a:hover,
.profile-table td a:hover {
    color: #022e52;
}

.profile-table-pagination {
    color: #454545;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    text-align: right;
    background: #f4f4f4;
    font-size: 1.2em;
    padding-right: 10px;
}

.profile-table-pagination .pagintation-wrapper{
    vertical-align: middle;
}

.profile-table-pagination span.prev,
.profile-table-pagination a.prev,
.profile-table-pagination span.next,
.profile-table-pagination a.next {
    display: inline-block;
    width: 26px;
    height: 18px;    
    margin:0 10px;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.profile-table-pagination span.prev:hover,
.profile-table-pagination span.next:hover {
    box-shadow: 0px 0px 5px #777;
}

.profile-table-pagination a.prev:hover,
.profile-table-pagination a.next:hover {
    box-shadow: 0px 0px 5px #3ff;
}

.profile-table-pagination .page-info {
    height: 18px;    
    line-height: 18px;
    vertical-align: middle;
}

.profile-table-pagination span.prev {
    background: url("/static/images/accounts/prev.png") no-repeat;
}

.profile-table-pagination a.prev {
    background: url("/static/images/accounts/prev-active.png") no-repeat;
}

.profile-table-pagination span.next {
    background: url("/static/images/accounts/next.png") no-repeat;
}

.profile-table-pagination a.next {
    background: url("/static/images/accounts/next-active.png") no-repeat;
}

.venue-accounts-table tr {
    height: 25px;
}

.venue-accounts-table .remove-td {
    width: 50px;
    text-align: center;
}

.ads-thumb {
    float: left;
    margin-right: 2px;
}

.advertising-items {
    clear: both;
    padding: 9px 0;
    width: 210px;
}

.user-input {
    width:200px;
}

.pure-events-list {
    padding-top: 15px;
}

.pure-events-list .event-check-field {
    width: auto;
    height: auto;
    opacity: 1;
    vertical-align: middle;
    position: relative;
}

.pure-events-list .entry-wrapper {
    padding-top: 0;
}

.pure-events-list .entry-info {
    margin: 0;
}

.pure-events-list td {
    padding: 2px;
}

.shared-with {
    background: rgb(250,250,250); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(250,250,250,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeaea',GradientType=0 ); /* IE6-8 */

    padding: 2px 10px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    color: #5dacfd;    
}

.shared-with a:hover {
    color: red;
}

.per-page-links a {
    color: #454545;
    line-height: 18px;
    text-decoration: underline;
}

.per-page-links a.current {
    font-weight: bold;
    text-decoration: none;
}

.profile-table td,
.profile-table th{
    position: relative;
}

.sort-wrapper {
    display: inline-block;
}

.sortable {
    margin: 2px;
}

.sortable.active {
    color: #000;
    cursor: default;    
}

.profile-table #id_o {
    display: none;
}
