table td {
    vertical-align: top;
}

.content-wrapper {
    margin-top: 11px;
    color: #454545;    
}

.home .content-wrapper {
    margin-top: 10px;
    position: relative;
}

.content-wrapper h1 {
    min-height: 26px;
    vertical-align: middle;
    margin:0;
    font-size:20px;
    color: #022e52;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

.content-wrapper h1 a {
    color:#022e52;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.primary-wrapper {
    position: relative;
    background: #fdfcfc;
    border: 1px solid #ccc;
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 15px;
    padding-bottom: 30px;
    vertical-align: top;
}

.footer-site-map .action-facebook-like {
    background: url("/static/images/like.png") 5px center no-repeat;
    vertical-align: middle;
}

.primary-content {
    float:left;
}

.primary-content.preview {
    float: none;
}

.item-primary-content {
    width: 684px;
}

a {
    color: #022e52;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #022e52;
}

.primary-content p {
    color: #030303;
}

.primary-content .description {
    margin: 0 0 0 3px;
    color: #030303;
    font-size: 13px;
    overflow-x: hidden;
}

.primary-content .description .description-inner {
    padding: 18px 13px;
}

.primary-content .description * {
    color: #030303;
    font-size: 13px;
}

.primary-content .description p, .searchpad-event-description p {
    margin: 0;
}

ul.errorlist {
    padding-left: 0;
    margin: 0;
}

ul.errorlist li {
    list-style:none;
    color: red;
}

.left-menu {
    width: 182px;
    background: #c6c6c6;
    float: left;
    margin-right: 10px;
}

.search-pad-menu .left-menu {
    background: #fdfcfc;
    margin-right: 10px;
}

.left-menu .switchers {
    padding: 7px 6px;
    background: #c6c6c6;
}

.left-menu .switchers a {
    display: inline-block;
    width: 83px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #022e52;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 14px;
}

.left-menu .switchers.sort a {
    text-transform: none;
    padding: 5px 0;
}

.left-menu .switchers.sort a:hover {
    padding: 4px 0;
}

.left-menu .switchers a.selected,
.left-menu .switchers a:hover {
    background: #fff;
    border: 1px solid #83929e;
    width: 81px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.left-menu .switchers .abc-sorting-title,
.left-menu .switchers .num-sorting-title{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 3px;
}

.left-menu ul.categories {
    margin: 0;    
    padding: 14px 10px 16px;
    border-top: 1px solid #506b80;
    background: #022e52;
}

.search-pad-menu .left-menu ul.categories {
    margin-bottom: 8px;
}

.left-menu ul.categories li {
    list-style: none;
    padding-left: 9px;    
    border-bottom: 1px solid #c6c6c6;
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
    max-width: 145px;
}

.left-menu ul.categories li.last {
    border-bottom: 0;
}

.left-menu ul.categories.tags {
    padding-top: 8px;
}

.left-menu ul.categories.tags li {
    border-bottom: none;
}

.left-menu ul.categories li a {
    color: #fdfcfc;
    font-size: 13px;
}

.left-menu ul.categories li a:hover,
.left-menu ul.categories li a.selected {
    color: #0260bb;
}

.left-menu .all-tags a,
.left-menu .all-events a,
.top10-tags header {
    display: block;
    vertical-align: middle;
    text-align: center;
    background: #c6c6c6;    
    color: #022e52;
    height: 23px;
    line-height: 23px;
    
    font-weight: bold;
}

.left-menu .all-tags a {
    background: #fff;
    text-transform: uppercase;
}

.left-menu .all-events a {
    text-transform: uppercase;
    margin-bottom: 8px;
} 

.all-tags-container {
    background: #022e52;
    position: relative;
    min-height: 740px;
}

.all-tags-container.more {
    min-height: 684px;
    padding-bottom: 36px;
}

.all-tags-container li.category.more {
    display: none;
}

.all-tags-container.more li.category.more {
    display: block;
}

.more-less-buttons {
    background: #022e52;
    padding: 4px 0 22px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.events-container {
    width: 495px;
    float: left;
}

.events-container .searchtags-wrapper {
    position: relative;
    background: #c6c6c6;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left: 17px;
    padding-right: 18px;
}

.search-pad-content.events-container .searchtags-wrapper {
    background: none;
    width: 425px;
    padding: 9px 16px 6px 16px;
    margin-left: 6px;
}

.events-container .searchtags-wrapper ul.searchtags {
    min-height: 20px;
    margin: 0;
    background: #f1f1f1;
    border: 1px solid #33546f;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    vertical-align: middle;
}

.search-pad-content.events-container .searchtags-wrapper ul.searchtags {
    background: none;
}

.searchtags-wrapper .searchtags-placeholder {
    position: absolute;
    color: #999;
    top: 15px;
    left: 25px;
    z-index: 5;
}

.stretch-wrapper {
    width: 1007px;
}

.center-align-wrapper {
    width: 482px;
    margin: 0 auto;
}

/* Form fields */
.entity-form__text-field input {
    border: 1px solid #c7c6c6 !important;
    width: 394px !important;
    font-size: 13px !important;
    height: 26px !important;
    padding: 0 5px !important;
}

.entity-form__field-title {
    color: #022e52;
    font-weight: bold;
    text-transform: uppercase;
}
/* Form fields */

.hidden {
    display: none !important;
}
