.hidden {
    display:none;
}
.when-deck {
    position: relative;
    width:700px;
    border:1px solid #CCC;
    padding:10px 5px;
    background:#fff;
    display:none;   
    margin-top:10px;
    z-index:1;
    padding-bottom: 50px;
}
#ptTimeSelectCntr {
    z-index:1000000 !important;
}
.when-deck .error {
    color:red;
    margin-bottom:10px;
    display:none;   
}

.when-deck .reset-button, .when-deck .submit-button, .when-deck .cancel-button  {
    font-size:1.3em;
    padding:5px 10px;
    position:absolute;
    right:10px;
    bottom:5px;
    background: #efefef;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.when-deck .reset-button {
    right:90px;
}

.when-deck .cancel-button {
    right:160px;
}

.ui-state-disabled {
    color: #ccc;
}

.months-container {
    max-height: 400px;
    min-height: 160px;
    overflow: auto;
}

.month-container{
    min-height: 200px;  
}

.month-picker {
    position: absolute;
    left:10px;
    bottom:10px;
    width:179px;
    height: 20px;
    line-height:20px;
    background: #eaeaea;
    vertical-align:middle;
    margin-top:5px;
    padding: 0 5px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.month-picker .ui-datepicker{
    top: -215px !important; 
}

.month-picker{
    cursor: pointer;
}
.month-picker .wrapper {
    text-align:left;
}

.month-picker span{

}

.month-picker .new-month-select-arrow {
    width:15px;
    height:10px;
    margin-top:5px;
    display:inline-block;
    float:right;
    background: url("/static/images/arrow-down.png") center center no-repeat;
    cursor: pointer;
}

.monthpicker + div {
    margin-top:30px 
}

.mtz-monthpicker-month {
    border:1px solid #ccc !important;
}

.ui-datepicker-div {
    float:right;
}

.month-and-days-wrapper {
    display:inline-block;
    margin-right:20px;
    width:190px;
    min-height: 200px;
}

.days-time-picker {
    display:inline-block;
}

.days-time-picker {
    vertical-align: top;
    color: #484848;
}

.dtp-labels {
    display:none;
    margin-top:40px;
    margin-right:10px;
    font-size:1.1em;
    line-height:20px;
}
.dtp-labels.active{
    display:inline-block;
}

.days-container {
    display:inline-block;
    vertical-align: top;
    margin-top:5px;
    white-space: nowrap;
    width: 400px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.day-value {
    position: relative;
    width:35px;
    height: 30px;
    padding-top: 5px;
    text-align:center;
    vertical-align:middle;
    font-size:1.5em;
    line-height:1.5em;
    font-weight:bold;
    background: #EAEAEA;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:10px;
    margin-left: 11px;
    color: #000;
}

.day-value  .add-new-time-button {
    position: absolute;
    color: red;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    padding: 0px;
    text-align: center;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    font-size: 14px;
    line-height: 12px;
    vertical-align: middle;
    top: 5px;
    right: -5px;
}

.my-time-picker,
.my-additional-time-picker,
.my-time-picker-inner-wrapper {
    display:inline-block;
    margin-right:10px;
    text-align:center;
    vertical-align: top;
}

.my-time-picker {
    margin-right: 0;
}

.my-additional-time-picker {
    margin-top: 35px;
}

.my-time-picker input,
.my-additional-time-picker input{
    width: 50px;
    height: 16px;
    margin: 13px 0;
    padding: 2px 4px;
    display: block;
    border: none;
    background: #EAEAEA;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    COLOR: #000;
    font-size: 0.9em;
}

.my-time-picker .checkbox.autofill{
    width:17px;
    height:17px;
    border:1px solid #ddd;
    background: #EAEAEA;
    margin-left:9px;
}
.my-time-picker .remove,
.my-additional-time-picker  .remove {
    width:16px;
    height:16px;
    margin-left:21px;
    margin-top:5px;
    background:url("/static/styles/images/remove-icon.png") center center no-repeat;
    cursor: pointer;
}

.multi-select-mode-wrapper {
    height:2px;
}

.multi-select-mode-wrapper .remove{
    display:inline-block;
    float:right;
    width:16px;
    height:24px;
    background:url("/static/styles/images/remove-icon-white.png") center center no-repeat;    
    cursor: pointer;

}

.my-time-picker .checkbox.autofill.checked{
    background: #EAEAEA url("/static/images/checked.png") center center no-repeat;
}

.multi-select-mode-wrapper span{
    position: relative;
    top: 7px;
    z-index: 10;
    right: 5px;
}

.ui-datepicker .ui-datepicker-next {
    right: 19px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 19px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1em;
    text-align: center;
    margin-right: 3.5em;
}

.hidden-arrows .ui-datepicker .ui-datepicker-prev, .hidden-arrows .ui-datepicker .ui-datepicker-next {
    display:none;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .5em 0;
}

#ui-timepicker-div {
    z-index: 100000 !important;
    margin-top: 3px;
}

.ui-timepicker-title{
    text-align:center;
}

#ui-timepicker-div .ui-state-default{
    background:none;
    cursor:pointer;
    position: relative;
}


#ui-timepicker-div .periods-table {
    float:left;
}
#ui-timepicker-div .periods-table td {
    padding-left:10px;
}

#ui-timepicker-div .periods {
    cursor: pointer;
    color: #222;
    font-weight: bold;
}
#ui-timepicker-div .periods.active {
    color: #1C94C4;
}

.ui-timepicker-minutes {
    width: 60px;
    text-align: center;
}

.ui-timepicker-minutes .ui-timepicker{
    margin:0 auto;
}

.ui-timepicker-hours .ui-timepicker {
    float: left;
    padding-left: 10px;
    padding-right: 5px;    
}

.ui-timepicker-hours .ui-timepicker-title{
    margin-left:40px;
}

#ui-timepicker-div .ui-state-active {
    color: #1C94C4;
}

.multiple-day-event {
    position: absolute;
    right: 20px;
    bottom: 43px;
    color:#000;
    display: none;
}

.multiple-time-event-popup,
.multiple-day-event-popup {
    border: 1px solid #ccc;
    background: #efefef;
    color: #000;
    padding: 5px;
    display: none;
}

.multiple-day-event-popup {
    position: absolute;
    bottom: 25px;
    right: -5px;
    width: 245px;    
}

.multiple-time-event-popup {
    position: absolute;
    left: 50px;
    top: 0px;
    width: 150px;
    font-size: 12px;
    font-weight: normal;
    white-space: normal;
    line-height: 15px;
    z-index: 10;
    text-align: left;
}

.multiple-day-event .checkbox.white {
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 9px;
    margin-right: 15px;
    cursor: pointer;
}

.multiple-day-event .checkbox.white.checked{
    background: #fff url("/static/images/checked.png") center center no-repeat;
}