input#id_price[readonly] {
    background-color: rgb(235, 235, 228);
    color: rgb(84, 84, 84);
}

.content-wrapper input[type="text"],
.content-wrapper input[type="password"],
.popup input[type="text"],
.popup input[type="password"],
.content-input-text input {
    outline: 0;
    color: #454545;
    background: #fff;
    border: 1px solid #ababab;            
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
}

.content-input-text input {
    border-radius: 0;
    min-width: 200px;
}

textarea {
    color: #454545;
    background: #fff;
    border: 1px solid #ababab;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}

.dropdown {
    display: inline-block;
    position: relative;
    border: 1px solid #dbdbdb;
    background: #fff;
    width: 45px;
    padding-left: 5px;
    padding-right: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    cursor: pointer;
}
.dropdown input {
    background: transparent !important;
    border: 0 !important;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 100%;
    width:100%;
    padding: 0;
    font-size: 12px;
}
.dropdown:after{
    content: " ";
    position:absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: url("/static/images/widgets/dropdown.png") no-repeat;
}

.dropdown select {
    display: none;
}

.dropdown-content {
    display: none;
    width: 100px;
    position: absolute;
    background: #fff;
    z-index: 8031;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.dropdown-content.toggled {
    display: block;
}

.dropdown-content .dropdown-child{
    padding-left : 5px;
    cursor: pointer;
}

.dropdown-content .dropdown-child:hover {
    background: #eee;
}


/* Checkbox and radiobutton */

div.checkbox {
    display:inline-block;
    margin-right:10px; 
    vertical-align: middle;  
}

div.checkbox.block {
    display: block;
}

div.checkbox.disabled {
    opacity: 0.3;
}

div.checkbox label, 
div.radio label{
    display: inline-block;
    height: 21px;
    line-height: 21px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
}

input[type=checkbox] + label {
    position:relative;
    background: url("/static/images/widgets/checkbox-bg.png") center center no-repeat;;
    width: 16px;
}

input[type=checkbox]:checked + label:after {
    content: '';
    position: absolute;
    background: url("/static/images/widgets/checked.png") center center no-repeat;
    top: 5px;
    left: 3px;
    width: 11px;
    height: 10px;
}

input[type=radio] + label {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    background: url("/static/images/widgets/radio-bg.png") center center no-repeat;
}
input[type=radio]:checked + label {
    background: url("/static/images/widgets/radio-bg-selected.png") center center no-repeat;
}

body .button, 
input[type=submit] {
    height: 26px;
    line-height: 24px;
    vertical-align: middle;
    color: #fff;
    background: #808080;
    padding-left: 35px;
    padding-right: 35px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
input[type=submit]:hover {
    background: #022e52;
}

#images-uploader .qq-upload-button,
#attachments-uploader .qq-upload-button,
#file-uploader .qq-upload-button {
    display: inline-block;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    background-image: url("/static/images/widgets/ie9_button.svg");
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0.05, #fff), color-stop(1, #f6f6f6));
    background: -webkit-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: -moz-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background: linear-gradient(center top, #fff 5%, #f6f6f6 100%);
    background-color: #fff;    
    border: 1px solid #ebebeb;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
}

#images-uploader .qq-upload-button,
#attachments-uploader .qq-upload-button,
#file-uploader .qq-upload-button {
    width: 137px;
    height: 30px;
    font-size: 16px;
    color: #5d5d5d;
    margin-top: 10px;
    padding: 5px auto;
}

#images-uploader .qq-upload-button:hover,
#attachments-uploader .qq-upload-button:hover,
#file-uploader .qq-upload-button:hover {
  /*background-image: url("/static/images/ie9_button_hovered.svg");*/
  background: -webkit-gradient(linear, center top, center bottom, color-stop(0.05, #f6f6f6), color-stop(1, #fff));
  background: -webkit-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: -moz-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: -o-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: -ms-linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background: linear-gradient(center top, #f6f6f6 5%, #fff 100%);
  background-color: #f6f6f6;  
  color: #000;
}

/* Tabs */

.tabs-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabs-container ul.tabs,
.tabs-container table.tabs {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
    border-bottom: 3px solid #022e52;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-head {
    background: #dedede;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs-container ul.tabs li,
.tabs-container table.tabs td {
    cursor: pointer;    
    text-align: center;
    vertical-align: middle;

    font-weight: normal;
    padding: 5px 10px;
    border-bottom: none;
}

.tabs-container table.tabs td {
    height: 35px;
}

.tabs-container table.tabs td.current,
.tabs-container table.tabs td:hover {
    border-radius: 5px 5px 0 0;
}

.tabs-container .tabs a,
.tabs-container .tabs span {
    display: block;

}

.tabs-container ul.tabs li {
    display: inline-block;
    list-style: none;
}

.tabs-container.no-borders ul.tabs li,
.tabs-container.no-borders table.tabs td {
    border-bottom: 1px solid #dcdcdc;
}

.tabs-container ul.tabs li.current, 
.tabs-container ul.tabs li:hover,
.tabs-container table.tabs td.current,
.tabs-container table.tabs td:hover {
    background: #022e52;
    color: #fff;
}

.tabs-container ul.tabs li span,
.tabs-container table.tabs td span {
    color: #022e52;
    font-size: 14px;
}

.tabs-container ul.tabs li.current span, 
.tabs-container ul.tabs li:hover span,
.tabs-container table.tabs td.current span,
.tabs-container table.tabs td:hover span {
    color: #fff;
}

.tabs-container .box {
    display: none;
}

 .tabs-container.no-borders .box {
    border: none;
 }

.tabs-container .box .empty {
    margin: 20px;
}

.tabs-container .box.visible {
  display: block;
}

 .tabs-container .box.account-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 45px;
    height: 275px;
 }

 .right-tabs {
    text-align: right;
 }

.ajax-popup {
    position: fixed;
    padding: 40px;
    min-width: 300px;
    max-width: 500px;
    border: 1px solid #ccc;
    background: #f4f4f4;
    color: #022E52;
    z-index: 10000;
    font-size: 2em;
}

.ajax-popup .messages {
    display: block;
}


.ajax-popup .messages .close {
    line-height: 20px;
    position: relative;
    right: -25px;
    top: -28px;
}

button.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #ffffff;
}

.close:hover,
.close:focus {
    opacity: 0.8;
}


.ajax-popup ul {
    margin: 0;
    padding: 0;
}

.ajax-popup ul li {
    list-style: none;
    padding: 0;
}

.ajax-popup ul li.success {
    color: green;
}

.ajax-popup ul li.error {
    color: red;
}

.ajax-popup ul li.warning {
    color: orange;
}

.ajax-popup ul li.info {
    color: blue;
}

ul#box-nav {
    margin-left: 0;
    padding-left: 0;
}

ul#box-nav li {
    list-style: none;
    padding-left: 0;
    display: inline-block;    
    margin: 10px;
    padding: 5px 10px;
}

ul#box-nav li a {
    color: #000;
    text-decoration: none;
}

ul#box-nav li:hover a,
ul#box-nav li.selected a {
    color: #00457d;  
}


fieldset {
    border:1px solid #d4d4d4;
    padding: 10px;
}

fieldset legend{
    color: #00457d;
    font-size: 1.2em;
}

/* File ajax upload */
#images-uploader .qq-upload-list,
#attachments-uploader .qq-upload-list,
#file-uploader .qq-upload-list {
    display:none;
}

#images-uploader .qq-upload-list li,
#attachments-uploader .qq-upload-list li {
    list-style: none;
}

.picture {
    position:relative;
}

#id_picture {
    display:none;
}

#images-uploader .qq-upload-button,
#attachments-uploader .qq-upload-button,
#file-uploader .qq-upload-button {
    margin-top: 0px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #E6E6E6;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
}

#file-uploader .qq-upload-drop-area {
    display: none !important;
}

#images-uploader .qq-upload-button input,
#attachments-uploader .qq-upload-button input,
#file-uploader .qq-upload-button input {
    height: 100%;
    width: 100%;
}

#images-uploader .qq-upload-button:hover,
#attachments-uploader .qq-upload-button:hover,
#file-uploader .qq-upload-button:hover {
    color: #234;
    border:1px solid #79B7E7;
}

.attachment-list {
    margin-bottom: 5px;
}

.attachment-list .attachment {
    border: 1px dotted #ddd;
    margin-top: 3px;
    padding: 5px;
}

.attachment-list .attachment.active {
    background-color: #eee;
}

.attachment-list .attachment i {
    float: right;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
}

.attachment-list div.attachment:first-child .icon-arrow-up {
    display: none;
}

.attachment-list div.attachment:last-child .icon-arrow-down {
    display: none;
}

.attachment-list .attachment i:hover {
    color: #06C;
}

.attachment-list .attachment i.icon-remove:hover {
    color: red;
}

.attachment-list .attachment .remove-attachment-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/static/images/accounts/remove16x16.png") no-repeat;
    cursor: pointer;
    float: right;
}

.popup {
    display: none;
}

.popup-content {
    margin: 0 auto;
    border: 1px solid #CCC;
    padding: 15px;
    background: #fff;
    margin-top:10px;
    z-index: 2;
    padding-bottom:50px;
}

.popup-content .error {
    display:none;
    color: red;
    margin-bottom: 10px;
}

.popup .popup-content .reset-button, 
.popup .popup-content .submit-button, 
.popup .popup-content .cancel-button  {    
    position:absolute;
    right:10px;    
    cursor: pointer;
    width: 70px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

.popup-content .reset-button:hover, 
.popup-content .submit-button:hover, 
.popup-content .cancel-button:hover {
    color: #022e52;

}

.popup .popup-content .reset-button {
    right:90px;
}

.popup .popup-content .cancel-button {
    right:170px;
}

.pac-container {
    z-index: 9000 !important;
}

.danger-action {
    color: #9c1a00;
}

.event-delete-action, .venue-delete-action {
    color: #9c1a00;
}

body .event-actions-popup {
    display: none;
    width: 320px;
    padding: 10px 20px;
    padding-top: 0;
}

body .event-actions-popup h1 {
    font: 18px Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bold;    
}

body .event-actions-popup .content {
    color: #7d7b7c;   
    font: 16px Arial, Helvetica, sans-serif;
}

body .event-actions-popup .content textarea {
    width: 360px;
    height: 200px;
}

body .event-actions-popup .popup-buttons{
    text-align: center;
    font: 16px Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

body .event-actions-popup .popup-buttons .popup-button {
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #e6e6e6;
    color: #5dacfd;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding: 0 15px;
    margin-right: 10px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

body .event-actions-popup .popup-buttons .popup-button:hover {
    color: #227ad3;
}

body .event-actions-popup .possible-in-the-loop-tags {
    margin-top: 15px;
    position: relative;
    left: -13px;
    width: 390px;
}

body .event-actions-popup .possible-in-the-loop-tags div.checkbox label:nth-of-type(2) {
    height: auto;
    line-height: 16px;
    width: 80px;
}



body .event-actions-popup table.possible-in-the-loop-tags td {
    width: 33%;
    padding: 3px 0;
    padding-left: 15px;
    
    min-height: 20px;
}

body .event-actions-popup table.possible-in-the-loop-tags tr:nth-child(even) {
    background: #fff;
}

body .event-actions-popup table.possible-in-the-loop-tags tr:nth-child(odd) {
    background: #f5f5f5;
}

body .event-actions-popup .in-the-loop-popup-content {
    padding: 0 15px;
}

.in-the-loop-fancybox .fancybox-skin {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.in-the-loop-fancybox .fancybox-inner {
    width: 390px !important;
}

.event-action-ui-dialog.ui-dialog {
    z-index: 8041 !important;
    border: none;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    overflow: visible;
    padding: 0;
    height: 0;
    padding-bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
}

.event-action-ui-dialog.ui-dialog a {
    color: #5dacfd;
}

.event-action-ui-dialog.ui-dialog a:hover {
    color: #227ad3;
}

.event-action-ui-dialog.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040 !important;
    background: none;
    background-image: url('/static/fancybox/fancybox_sprite.png');
    background-position: 0 0;
    margin: 0;
    padding: 0;
    border: none;
}

.event-action-ui-dialog.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick{
    display: none;
}

.event-action-ui-dialog.ui-dialog .ui-dialog-titlebar-close:hover {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040 !important;
    background-image: url('/static/fancybox/fancybox_sprite.png') center center no-repeat;
    background-color: transparent;
    background-position: 0 0;
    border: none;

}

.event-action-ui-dialog.ui-dialog .ui-dialog-title {
    display: none;
}

.event-action-ui-dialog.ui-dialog .ui-dialog-titlebar {
    background: none;
    border: none;
}

.suggest-city, .suggest-region, .skip-setup {
    color: #247cc3;
    cursor: pointer;
    text-decoration: underline;
}

.warn {
    color: #cc3b3b;
}

.hover-container {
    position: relative;
}

.hover-container .hover-effect {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 50;
    text-align: center;
    font-size: 12px;
    padding: 5px 10px;
    display: block;    
    width: 230px;
    
    text-align: center;

}

.hover-container:hover .hover-effect {
    transition: 1s;
    -webkit-transition: 1s; /* Safari */

}

.hover-container .hover-effect.effect1 {
    left: -400px;
    top: -1000px;
}

.hover-container:hover .hover-effect.effect1 {
    left: 0px;
    top: 100px;
}

.hover-container .hover-effect.effect1 {
    left: -400px;
    top: -1000px;
}

.hover-container:hover .hover-effect.effect2 {
    left: 0px;
    top: 100px;
}

.hover-container .hover-effect.effect2 {
    left: -400px;
    top: -1000px;
}

.hover-container:hover .hover-effect.effect2 {
    top: 100px;
    left: -70px;
}

.hover-container .hover-effect.effect3 {
    right: -400px;
    top: -1000px;
}

.hover-container:hover .hover-effect.effect3 {
    top: 100px;
    right: 0px;
}

.hover-container .hover-effect.effect4 {
    left: -400px;
    bottom: -1000px;
}

.hover-container:hover .hover-effect.effect4 {
    left: 0px;
    bottom: 100px;
}

.hover-container .hover-effect.effect5 {
    left: -400px;
    bottom: -1000px;
}

.hover-container:hover .hover-effect.effect5 {
    bottom: 100px;
    left: -70px;
}

.hover-container .hover-effect.effect6 {
    right: -400px;
    bottom: -1000px;
}

.hover-container:hover .hover-effect.effect6 {
    bottom: 100px;
    right: 0px;
}