<span class="regions-title">Select province/territory to show your ad</span>
<div class="advertising-territories options">
    <div class="teritory-node">
        <div class="checkbox">
            <input {% if form.all_of_canada.value %}checked="checked"{% endif %} type="checkbox" id="id_all_of_canada" value="true" name="all_of_canada" />
            <label for="id_all_of_canada"></label>
            <label for="id_all_of_canada">All of Canada</label>
        </div>
    </div>
    {% for region in form.fields.regions.queryset %}
    <div class="teritory-node region">
        <div class="checkbox">
            <input {% for current_region in form.regions.value %}{% if region.pk == current_region|add:0 %}checked="checked"{% endif %}{% endfor %} type="checkbox" id="id_regions_{{ forloop.counter0 }}" value="{{ region.id }}" name="regions" />
            <label for="id_regions_{{ forloop.counter0 }}"></label>
            <label for="id_regions_{{ forloop.counter0 }}">
                {{ region.name }}
            </label>
        </div>
    </div>
    {% endfor %}
    <div class="clr"></div>
</div>