.venue-account-details {
    float: left;
    width: 595px;
    margin-left: 30px;
    border: 1px solid #b9b8b8;
    background: #fff;
    min-height: 930px;
}

.venue-account-details h1 {    
    height: 35px;
    line-height: 35px;
    background: #8c8a8a;
    color: #fff;
    text-transform: uppercase;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.venue-account-details .venue-account-details-form {
    margin: 25px 94px;
}

.venue-account-types {
    position: relative;
    float: left;
    width: 314px;
    margin-left: 18px;
    border: 1px solid #f0f0f0;
    background: #022e52;
    color: #fff;
    padding-bottom: 25px;
    min-height: 905px;
}

.venue-account-types .button {
    position: absolute;
    left: 100px;
    bottom: 70px;
    text-transform: uppercase;
    display: inline-block;
    color: #022e52;
    font-size: 13px;
    font-weight: bold;
    background: #a3a1a1;
    padding: 0 40px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
    border: none;
}

.venue-account-types .button:hover {
    background: #808080;    
}

.venue-account-types-content {
    padding: 30px 55px;
}

.venue-account-types-content .block {
    margin-bottom: 15px;    
}

.venue-account-types-content div.block label:nth-of-type(1){
    height: 21px
    line-height: 21px;
}

.venue-account-types-content div.block label:nth-of-type(2) {
    height: auto;
    line-height: 18px;
    width: 155px;
    margin-top: 0px;
    margin-left: 10px;    
    vertical-align: top;
}

.venue-account-types h1 {
    height: 35px;
    line-height: 35px;
    background: #fff;
    color: #696666;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.venue-account-details .field {
    position: relative;
    clear: both;
}

.picture-thumb {
    display: block;
    float: left;
    margin:0;
    overflow: hidden;
}

#file-uploader {
    float: left;
    margin-left: 14px;
}

#file-uploader .qq-upload-button {
    cursor: pointer;
    border: none;
    color: #fff;
    background: #8f8f8f;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 12px;
    width: 120px;
}

#file-uploader .qq-upload-button:hover {
   border: none;
    color: #fff;
    background: #022e52;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none; 
}

.venue-account-details .field header {
    color: #022e52;
    padding-left: 2px;
    margin-top: 5px;
}

.venue-account-details .field input {
    width: 330px;
    padding: 2px 5px;
    height: 13px;
    line-height: 13px;
    font-size: 12px;
}

.about-us-field {
    width: 394px;
    margin-top: 15px;
}

.about-us-field p {
    margin-top: 0;
}

.venue-account-details .field img {
    position: absolute;
    left: -20px;
}

.field .picture-thumb img {
    left: 0;
} 

.venue-account-details .venue-field img {
    top: -5px;
}

.venue-account-details .street-no-field {
    width: 90px;
    display: inline-block;
}

.venue-account-details .street-no-field input {
    width: 80px;
}

.venue-account-details .city-field {
    display: inline-block;
    margin-left: 13px;
    width: 232px;
}

.venue-account-details .city-field input {
    width: 227px;
}

.show-map {
    color: #1184f8;
    position: absolute;
    right: 1px;
    top: 0;
}

.venue-field img {
    left: -30px;
    top: 0px;
}

.location_map {
    display: none;
}

.full-screen-popup {    
    position:relative;
    width:800px;
    height:500px;    
    display:none;
    background: #fff;
    border: 1px solid #ccc;
    padding:20px;    
    padding-bottom:50px;
}

.jcrop-holder {
    border:1px solid #ccc;
}

.full-screen-popup .save-button {
    font-size: 1.3em;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    background: #EFEFEF;
    border: 1px solid #E6E6E6;    
    cursor: pointer;
}

.full-screen-popup .cancel-button {
    font-size: 1.3em;
    padding: 5px 10px;
    position: absolute;
    right: 130px;
    bottom: 5px;
    background: #EFEFEF;
    border: 1px solid #E6E6E6;    
    cursor: pointer;
}

.jcrop-holder {
    margin:0 auto;
    vertical-align:middle;    
}

.size-warning>div>div{
    border:1px solid red;
}

#file-uploader {
    float: left;
}

.picture-thumb{
    position: relative;
    float: left;
    width:90px;
    height:90px;
    border-top: 1px solid #c4c5c5;
    border-left: 1px solid #c4c5c5;
    border-right: 1px solid #a2a3a4;
    border-bottom: 1px solid #a2a3a4;
    overflow:hidden;    
    cursor: pointer;
}

.picture-thumb.result{
    display:block;
}

.qq-upload-indicator-block {
    display: inline-block;
    padding-left: 5px;
}

.qq-upload-indicator-block.inv {
    display: none;
}

.qq-upload-indicator-block img {
    vertical-align: middle;
}

.qq-uploading-cancel {
    margin-left: 5px;
    color: #454545;
    text-decoration: underline;
}

.qq-uploading-cancel:hover {
    color: #454545;
    text-decoration: none;
}

.tags-field ul.as-selections {
    width: 394px;
}

.tags-field ul.as-selections li.as-selection-item {
    padding: 0px 7px 0px 10px;
}

.tags-field ul.as-selections li.as-original input {
    height: 13px;
    line-height: 13px;
}

.tags-field ul.as-selections li.as-selection-item a.as-close {
    margin-top: 0;
}

.tags-field .tags-counter-container {
    color: #8c8a8a;
    text-transform: none;
    font-weight: normal;
    margin-left: 15px;
}

.tags-field .tags-counter-container .tags-counter {
    margin-left: 10px;
}

.tags-field .tags-counter-container.overflow {
    color: red;
}

.social-links-field {
    margin-top: 10px;
}

.social-links-field .add-more-social-link {
    font-size: 12px;
    cursor: pointer;
    color: #2a88d5;
    text-decoration: underline;
    float: right;
    margin-right: 3px;
}

.social-links-field .social-link {
    position: relative;
    height: 45px;
}

.social-links-field .social-link .social-link-title-widget {
    height: 20px;
}

.social-links-field .social-link .social-link-title-widget .edit-mode,
.social-links-field .social-link .social-link-title-widget .view-mode {
    display: none;
    width: 150px;
}

.social-links-field .social-link .social-link-title-widget.edit .edit-mode {
    display: block;
}

.social-links-field .social-link .social-link-title-widget.view .view-mode {
    display: block;
}

.social-links-field .social-link .social-link-title-widget i {
    cursor: pointer;
    margin-left: 5px;
    display: none;
}

.social-links-field .social-link .social-link-title-widget:hover i {
    color: #022e52;
    display: inline-block;
}

.social-links-field .social-link .social-link-title-widget i.icon-edit {
    position: relative;
    top: 3px;
}

.social-links-field .social-link .social-link-title-widget input {
    width: 120px;
}

.social-links-field .social-link .social-link-title-widget span {
    position: relative;
    color: #022e52;
    top: 2px;
    padding-left: 2px;
    cursor: pointer;
}


.social-links-field .social-link .social-link-title {
    width: 100px;    
}

.social-links-field .social-link .icon-remove {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 3px;
}

.social-links-field .social-link .icon-remove:hover {
    color: red;
}

.venue-account-venue-name {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    padding-top: 5px;
}

.venue-account-location-actions {
    padding-bottom: 10px;
}

.venue-account-location-actions a {
    font-size: 12px;
    font-weight: normal;
    text-decoration: underline;
}