{% extends 'pages/base.html' %}

{% block head %}
    <link type="text/css" href="{{STATIC_URL}}styles/static_pages.css" rel="stylesheet" />
    <script type="text/javascript" src="{{STATIC_URL}}js/static_pages.js"></script>
{% endblock %}

{% block page %}
        <h1>FAQ</h1>
        <div class="primary-content item-primary-content">
            <div class="primary-wrapper">
                <div class="content page">
                    <div class="main-content">
                        <div class="inner-content">
                            <ul class="entries-list">
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">What is Cityfusion?</div>
                                    <div class="list-entry-text first" data-type="entry_text">
                                        What we at Cityfusion are trying to do is bring together all events that are in your area to make it easier to know and find these events.  Often there are many main venues holding events but you, as an individual, have to spend considerable time surfing around to find what is happening at these venues.  Bringing them all together in one convenient location will cut down on the frustration of hunting down events in your area.  Plus, you will likely find many events you had no idea were available in the first place.  Too many times we see something in the paper after it has happened and say, "I didn't know about that, I'd have loved to go!".
                                    </div>
                                </li>
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">Who can post events?</div>
                                    <div class="list-entry-text" data-type="entry_text">
                                        Anyone who is hosting or performing an event that is open to the public is welcome to post.  A large venue can post their events, fundraisers that are having gala's or other activities (fun runs etc), bars that are having bands play, bands that are performing, and you as an individual if you're having a steak knight to raise funds, if it's open to the public we want it on Cityfusion.  I suppose some exceptions do arise, garage sales aren't really something we want on the site unless you're having a huge block sale.  If there is enough demand for garage sales we would most likely create a separate page for it.  The one thing we do ask is to make certain your event isn't already posted.  For example if a night club posted the band that is playing, then the band themselves doesn't need to post.  This saves on duplicating.
                                    </div>
                                </li>
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">What does it cost to post?</div>
                                    <div class="list-entry-text" data-type="entry_text">
                                        Not a thing, it is completely free.
                                    </div>
                                </li>
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">What is a featured ad?</div>
                                    <div class="list-entry-text" data-type="entry_text">
                                        A Featured Ad is a way to have your events seen.  First create the event, and then on your accounts page, click “Make Featured Event.”  This will take you to a page where you can pay to have your event featured.  It costs $2.00 per day and runs until the end of the last day you chose.  Your event will be featured on the home page and will also be sent via peoples emails.
                                    </div>
                                </li>
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">How do I ensure my event gets seen?</div>
                                    <div class="list-entry-text" data-type="entry_text">
                                        To ensure the event gets seen one can do the following: make featured event, purchase an ad and have the ad point to the event, drive people to the event by using the social buttons on the event page, and utilize the Facebook on the bottom to create conversation about the event.
                                    </div>
                                </li>
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">What tags do I use when creating an event?</div>
                                    <div class="list-entry-text" data-type="entry_text">
                                        The best tags to use are ones that are relevant and speak about the event or even the venue.  For example, a night club may want to use tags such as: Night Life, 19+, DJ, Dance, Live Music, (Name of Band Playing), (Name of Venue), (Location such as Downtown or Broadway), Free (if no cost), and Date Night (if a good place to take a date).  A limit of 10 tags is allowed.
                                    </div>
                                </li>
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">How does “Remind Me” work?</div>
                                    <div class="list-entry-text" data-type="entry_text">
                                        When logged in, a person can click “Remind Me” if they see an event they want to be reminded about, we send an email or text, and they can see the events on the website.  Cityfusion will send a reminder based on account settings.  A person can insert their email or phone number in settings to send the reminder hours or days in advance.  This feature will ensure no one misses another event again.
                                    </div>
                                </li>
                                <li>
                                    <div class="list-entry-title" data-type="entry_title">How does “In the Loop” work?</div>
                                    <div class="list-entry-text" data-type="entry_text">
                                        When logged in, a person can click “In the Loop” if they see an event that interests them.  There will be a list of tags that are associated with that event.  Pick the tags that are of interest to you and be notified when those tags are used in a future event.  A notification will be sent in the form of an email or text, or can be seen on the website when the tag is used in an event.  This is a great feature if one wants to be in the loop of specific events in the community.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock page %}