{% extends 'pages/base.html' %}

{% block head %}
    <link type="text/css" href="{{STATIC_URL}}styles/static_pages.css" rel="stylesheet" />
    <script type="text/javascript" src="{{STATIC_URL}}js/static_pages.js"></script>
{% endblock %}

{% block page %}
        <h1>Privacy Policy</h1>
        <div class="primary-content item-primary-content">
            <div class="primary-wrapper">
                <div class="content page">
                    <div class="main-content">
                        <div class="inner-content">
                                <p class="non-top">
                                    Cityfusion respects your right to privacy. We abide by the following principles and
                                    policies for the Personally Identifiable Information we collect about you through our
                                    websites ( "Site"), our mobile applications ( "Application"), emails, and other offerings
                                    (collectively "Services").
                                </p>
                            <div class="list-entry-title">Information we collect</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    We collect information to provide you with the best possible experience with our Services
                                    and for the purposes described in this Policy. We collect information directly from you,
                                    about you from third parties, and automatically through your use of our Services:
                                    <ul>
                                        <li>
                                            <b>Information you give us.</b>
                                            <ul>
                                                <li>
                                                    In order to access certain features of our Services such as posting
                                                    content, demanding an event, subscribing to email newsletters, and other
                                                    features, we require you to register with us. When you register with us,
                                                    we require you to provide your email address, year of birth, location
                                                    and gender. In addition, at your option, you may provide your name,
                                                    photograph, interests and whatever biographical information you may
                                                    choose to share.
                                                </li>
                                                <li>
                                                    To get the most out of the personalization and recommendation features we
                                                    offer, you might indicate to us information like your favorite events, artists
                                                    and venues.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <b>Information we collect from Facebook and other third party services.</b>
                                            <ul>
                                                <li>
                                                    You may sign into our Site through Facebook or other third party services.
                                                    If you do so, we will request your permission to access and collect
                                                    information including your (i) public profile, list of friends, email
                                                    address, birthday, interests, current city, personal description,
                                                    publish stream, event rsvp's and likes; and (ii) to post to your friends
                                                    on your behalf.
                                                </li>
                                                <li>
                                                    With your permission, we may collect data from services you use such as
                                                    Spotify, Last.fm, iTunes and others in order to learn more about your
                                                    entertainment preferences and tailor the content we present to you.
                                                </li>
                                                <li>
                                                    We store the information that we receive from third party services with
                                                    other information that we collect from you or receive about you. We have
                                                    no control over third party services use or disclose the personal information
                                                    they collect about you. Please review their policies if you have questions
                                                    about such disclosure.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <b>
                                                Information we collect and store automatically from your use of our Services
                                                and may combine with your personal information.
                                            </b>
                                            We automatically collect information about your use of our Services including the
                                            content you view, the things you click and other actions that you take.
                                            <br/><br/>
                                            <ul>
                                                <li>
                                                    <b>Device and server log information.</b>
                                                    <ul>
                                                        <li>
                                                            usage information about the services you use and how you use
                                                            them, like when you view, search and interact with our content
                                                        </li>
                                                        <li>
                                                            device-specific information (such as your hardware model, operating
                                                            system version and unique device identifiers, as permitted)
                                                        </li>
                                                        <li>
                                                            IP address
                                                        </li>
                                                        <li>
                                                            browser type, browser language, the date and time of your
                                                            request and referral URL
                                                        </li>
                                                        <li>
                                                            cookies that may uniquely identify your browser or your
                                                            Cityfusion account
                                                        </li>
                                                    </ul>
                                                    <br/>
                                                </li>
                                                <li>
                                                    <b>Location information.</b>
                                                    When you use a location-enabled Cityfusion Service, such as our mobile applications,
                                                    we will request your permission to collect and process information about your actual location,
                                                    like latitude and longitude provided by the location services of your mobile device. We may also
                                                    use various technologies to determine location, such as using your IP address to look up
                                                    geographic information. We collect this and other information using the following technologies:
                                                    <br/><br/>
                                                </li>
                                                <li>
                                                    <b>Local storage / Flash.</b>
                                                    We may use local shared objects, also known as Flash cookies, to store your Site preferences,
                                                    to personalize your visit, or to display content based upon what you view on our Site. Third
                                                    Parties with whom we partner to provide certain features on our Site or to display advertising
                                                    based upon your Web browsing activity, may use Flash cookies to collect and store information.
                                                    We do not have access to or control over these third party cookies nor does this Privacy Policy
                                                    cover such third parties' use of data. Flash LSOs are different from browser cookies because of
                                                    the amount and type of data stored. Typically, you cannot typically control, delete, or disable the
                                                    acceptance of Flash cookies through your web browser. For more information on Flash LSOs, or to
                                                    learn how to manage your settings for Flash LSOs, go to the Adobe Flash Player Help Page, choose
                                                    "Global Storage Settings Panel." We may collect and store information locally on your device using
                                                    mechanisms such as browser web storage (including HTML 5) and application data caches.
                                                    <br/><br/>
                                                </li>
                                                <li>
                                                    <b>Clear Gifs (Web Beacons/Web Bugs).</b>
                                                    We or the third parties we engage to track and analyze Site Data may
                                                    employ clear gifs (a.k.a. Web Beacons/Web Bugs) to help us better manage
                                                    content on the Site. Clear gifs are tiny graphics with a unique identifier,
                                                    similar in function to cookies, and are used to track the online movements
                                                    of Web users. In contrast to cookies, which are stored on your computer's
                                                    hard drive, clear gifs are embedded invisibly on Web pages. We do not tie
                                                    the information gathered by clear gifs to our customers' personally identifiable
                                                    information. In addition, emails we send may contain a "web beacon" which
                                                    allows us to understand the time and date of when you open an email and when
                                                    you utilized a link within the email. Our web beacons do not collect Personally
                                                    Identifiable Information. Users wishing to disable our web beacons should do
                                                    so by turning images "off" in their email client (e.g., Outlook, Outlook
                                                    Express). Please see your email provider for more information.
                                                    <br/><br/>
                                                </li>
                                                <li>
                                                    <b>Cookies and anonymous identifiers.</b>
                                                    We use various technologies to collect and store information when you use
                                                    an Cityfusion Service, this may include sending one or more cookies or
                                                    anonymous identifiers to your device. We also use cookies and anonymous
                                                    identifiers when you interact with services we offer to our partners,
                                                    such as Cityfusion features that may appear on other sites. Most web
                                                    browsers automatically accept cookies, but if you prefer, you can edit
                                                    your browser options to block them in the future. The Help portion of
                                                    the toolbar on most browsers will tell you how to prevent your computer
                                                    from accepting new cookies, how to have the browser notify you when you
                                                    receive a new cookie, or how to disable cookies altogether. Users of our
                                                    Service who disable cookies will be able to use certain features of the
                                                    Service, but some features may not function including personalization and
                                                    content recommendations.
                                                    <br/><br/>
                                                </li>
                                                <li>
                                                    <b>Third Party Cookies.</b>
                                                    We, or a data provider we have engaged, may place or recognize a unique
                                                    cookie on your browser to enable you to receive customized ads, content
                                                    or services. The cookies may reflect de-identified demographic or other
                                                    data linked to data you voluntarily have submitted to us, e.g., your email
                                                    address, that we may share with a third party solely in hashed,
                                                    non-human readable form. You may opt out of such sharing by signing
                                                    in to Cityfusion online and managing your preferences.
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="list-entry-title">How we use information we collect</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    We may use the information we collect from and about you to register you to use our
                                    Services, to verify your authority to use certain features of our Services, to
                                    improve and tailor the content and general administration of our Services, and,
                                    based upon the settings which you may select, to deliver certain content, information,
                                    services and notices from Cityfusion as well as communications regarding information,
                                    events, content, products and services of our third party partners. We also use your
                                    information to better understand how users access and use our Site and Services,
                                    both on an aggregated and individualized basis, in order to improve our Services
                                    and respond to user desires and preferences, and for other research and analytical
                                    purposes. We also use your information to contact you for advertising and marketing
                                    purposes, which includes sending you email about products and services that we believe
                                    would be of interest to you; please see our section below regarding email
                                    communications.
                                </div>
                            </div>
                            <div class="list-entry-title">Correcting/Updating Personally Identifiable Information</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    Cityfusion provides you with the ability to review, correct and delete the Personally
                                    Identifiable Information that you have provided to us at any time. If you have questions
                                    about this Privacy Policy or wish to review or correct any information you have provided
                                    to us, you may do so by (i) accessing your account online, (ii) submitting an email
                                    request to us at <a href="mailto:info@Cityfusion.ca">info@Cityfusion.ca</a>
                                </div>
                            </div>
                            <div class="list-entry-title">Opting In and Out of Email Communications from Cityfusion and Third Parties</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    By providing your email address to Cityfusion during your interaction with any of our
                                    Services, you automatically grant permission to Cityfusion and its strategic alliance
                                    partners to send email communications to you. During this process you may also indicate
                                    whether you grant permission for Cityfusion to share your email address with additional
                                    third parties and for those third parties to send emails directly to you. You may manage
                                    your opt in preferences and opt out of receiving email communications by clicking
                                    "unsubscribe" from an email sent to you by Cityfusion or by signing in to Cityfusion
                                    online and managing your preferences.
                                </div>
                            </div>
                            <div class="list-entry-title">Disclosing Your Information to Others</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    <b>Other users of our Services.</b> Some of the information that you post to our Services
                                    may be viewed by other users of our Services. This may include your photo and optional
                                    profile information such as your name, home town, demanded performers and favorite
                                    events, venues and performers, interests, events, comments, images, etc.
                                    <br/><br/>
                                    <b>Social network.</b> If you log into our Services through Facebook or other social
                                    networking sites, your connections at those social networking sites may see certain
                                    actions that you take within our Services such as commenting, "liking" and content you
                                    choose to share to third party services.
                                    <br/><br/>
                                    <b>Service Providers.</b> We may disclose the information we collect from you to third party
                                    vendors, service providers, contractors or agents who perform functions on our behalf.
                                    <br/><br/>
                                    <b>Third Parties.</b> Based upon your opt-out settings that you may control by signing in to
                                    Cityfusion online and managing your preferences, we may disclose your Personally
                                    Identifiable Information to third party partners for various purposes, including to
                                    allow those third party partners to contact you about news, events, products and/or
                                    services in which you may be interested. In doing so, we may transfer information about
                                    your use of our Services to third parties and link such information to data you voluntarily
                                    have submitted to us (e.g., your email address solely in hashed, non-human readable form).
                                    We also may disclose your information to other third parties that offer products that may
                                    be of interest to you. If you do not wish to be included on the list of users disclosed
                                    to our third party partners or the other third parties, you may indicate your preferences
                                    during the sign up process or you may manage your opt in preferences as described above.
                                    To stop receiving communications from a third party to whom we have already provided your
                                    information prior to your opting out, contact that third party directly or click unsubscribe
                                    from an email which you receive from the third party.
                                    <br/><br/>
                                    <b>Aggregate Information.</b> We may share aggregate or de-identified information about users
                                    with third parties, and other entities for marketing, advertising, research or similar
                                    purposes.
                                    <br/><br/>
                                    <b>Other.</b> We also will disclose your Personal Information in the following situations:
                                    (a) to complete a transaction that you initiate, (b) as required by law or in response
                                    to legal process, (c) when necessary to protect the safety of customers, employees, or
                                    property, (d) when you specifically authorize it, (e) in the event of a business transfer
                                    (discussed below), or (f) when required to service the company's system infrastructure.
                                </div>
                            </div>
                            <div class="list-entry-title">Privacy Policy Updates</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    As our business grows and changes, we expect to revise or enhance these policies from
                                    time-to-time. We will post the current version of our Privacy Policy on our website
                                    located at <a href="{{ "http://"|add:request.META.HTTP_HOST }}">{{ request.META.HTTP_HOST }}</a>
                                    and will communicate material changes to our Privacy Policy
                                    to users and the public by posting a notice on our website located at
                                    <a href="{{ "http://"|add:request.META.HTTP_HOST }}">{{ request.META.HTTP_HOST }}</a>
                                    for ten days following the change. If any modification is unacceptable to you, you shall
                                    cease using our Services. If you do not cease using our Services, you will be conclusively
                                    deemed to have accepted the change.
                                </div>
                            </div>
                            <div class="list-entry-title">Security and Data Storage</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    We employ procedural and technological security measures that are designed to safeguard
                                    your Personally Identifiable Information from loss, unauthorized access, disclosure,
                                    alteration or destruction. Cityfusion may use encryption, password protection, and other
                                    security measures to help prevent unauthorized access to your Personally Identifiable
                                    Information. Please be aware that despite our best efforts, no data security measures
                                    can guarantee 100% security. You should take steps to protect against unauthorized
                                    access to your password, phone, and computer by, among other things, signing off after
                                    using a shared computer, choosing a robust password that nobody else knows or can easily
                                    guess, and keeping your log-in and password private. We are not responsible for any
                                    lost, stolen, or compromised passwords or for any activity on your account via
                                    unauthorized password activity.
                                </div>
                            </div>
                            <div class="list-entry-title">International Users</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    Our computer systems are currently based in the United States where data protection
                                    requirements and privacy regulations may be different than other parts of the world.
                                    If you create an account as a visitor from outside the United States, you will have
                                    agreed to the terms of this Privacy Policy and our Terms of Use, you will have consented
                                    to processing of all such information in the United States, and you will have agreed
                                    that your personal information will be subject to the requirements of the privacy
                                    regulations of the United States, which may not offer an equivalent level of protection
                                    as certain other countries.
                                </div>
                            </div>
                            <div class="list-entry-title">Children's Privacy</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    Cityfusion recognizes the privacy interests of children and we encourage parents and
                                    guardians to take an active role in their children's online activities. Cityfusion's
                                    Services are not intended for children under the age of 13. Cityfusion does not target
                                    its Services to children under 13. Cityfusion does not knowingly collect and store
                                    Personally Identifiable Information from children under the age of 13.
                                </div>
                            </div>
                            <div class="list-entry-title">Business Transfers</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    We may transfer your Personally Identifiable Information to a successor entity
                                    upon a merger, consolidation, other corporate reorganization in which Cityfusion
                                    participates or to a purchaser of all or substantially all of Cityfusion's assets
                                    to which our Service relates.
                                </div>
                            </div>
                            <div class="list-entry-title">Links to Third Party Sites</div>
                            <div class="indent-block">
                                <div class="list-entry-text first">
                                    This privacy policy applies only to the privacy of users of Cityfusion's Services.
                                    By using Cityfusion's Services you agree to the terms of this privacy policy.
                                    If you move from Cityfusion's Services to external websites owned or operated by other
                                    entities or individuals, you should check the privacy policies of those external
                                    websites carefully. The terms by which the owners or operators of those external
                                    websites manage your Personally Identifiable Information obtained at such third party
                                    sites could differ from how Cityfusion manages your Personally Identifiable Information.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock page %}