{% extends 'pages/base.html' %}

{% block head %}
    <link type="text/css" href="{{STATIC_URL}}styles/static_pages.css" rel="stylesheet" />
    <script type="text/javascript" src="{{STATIC_URL}}js/static_pages.js"></script>
{% endblock %}

{% block page %}
        <h1>Terms of Service</h1>
        <div class="primary-content item-primary-content">
            <div class="primary-wrapper">
                <div class="content page">
                    <div class="main-content">
                        <div class="inner-content">
                            <div class="list-entry-text first">
                                The following describes the terms by which Cityfusion,
                                Inc., owner and creator of the Cityfusion service, offers you access to our website,
                                platform and services:
                            </div>
                            <ol class="num-entries-list">
                                <li>
                                    Acceptance of Terms
                                    <div class="list-entry-text first">
                                        Cityfusion, Inc. ("Cityfusion") provides a collection of online resources,
                                        including search, browse, user profile pages, community pages, event detail pages,
                                        venue detail pages, performer detail pages, the Demand service, comments,
                                        link sharing, tags, calendar tools, data input tools, and Web Services application
                                        programming interfaces (APIs), (collectively referred to hereafter as "the Service")
                                        subject to the following Terms of Service ("Terms"), which may be updated by
                                        Cityfusion from time to time. Cityfusion will provide notice of materially significant
                                        changes to the Term by posting notice on the Cityfusion site.
                                        <br/><br/>
                                        By using the Service in any way, you are agreeing to comply with these Terms.
                                        In addition, when using particular Cityfusion services, you agree to abide by any
                                        applicable posted guidelines for all Cityfusion services, which may change from time
                                        to time. Should you object to any term or condition of these Terms, any guidelines,
                                        or any subsequent modifications thereto or become dissatisfied with the Service in
                                        any way, your only recourse is to immediately discontinue use of the Service.
                                    </div>
                                </li>
                                <li>
                                    Content
                                    <div class="list-entry-text first">
                                        You understand that all postings, messages, text, files, images, photos, video, sounds,
                                        or other materials ("Content") posted on, transmitted through, or linked from the Service,
                                        are the sole responsibility of the person from whom such Content originated. More specifically,
                                        you are entirely responsible for all Content that you post, email or otherwise make available
                                        via the Service. You understand that Cityfusion does not control, and is not responsible for
                                        Content made available through the Service, and that by using the Service, you may be exposed
                                        to Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable.
                                        Furthermore, the Service and Content available through the Service may contain links to other
                                        websites, which are completely independent of Cityfusion. Cityfusion makes no representation or
                                        warranty as to the accuracy, completeness or authenticity of the information contained in any
                                        such site. Your linking to any other websites is at your own risk. You agree that you must evaluate,
                                        and bear all risks associated with, the use of any Content, that you may not rely on said Content,
                                        and that under no circumstances will Cityfusion be liable in any way for any Content or for any loss
                                        or damage of any kind incurred as a result of the use of any Content posted, emailed or otherwise
                                        made available via the Service. You acknowledge that Cityfusion does not pre-screen or approve Content,
                                        but that Cityfusion shall have the right (but not the obligation) in its sole discretion to refuse,
                                        delete or move any Content that is available via the Service, for violating the letter or spirit of
                                        the Terms or for any other reason.
                                    </div>
                                </li>
                                <li>
                                    Cityfusion Communications
                                    <div class="list-entry-text first">
                                        In the course of providing you services, Cityfusion will communicate with you via email.
                                        You agree to receive emails which are specific to your account and necessary for the normal
                                        functioning of the Cityfusion Service, including but not limited to notifications about performers
                                        and events you've expressed interest in. Cityfusion will use the email address you provide to register
                                        you to use our Services, to verify your authority to use certain features of our Site and Services,
                                        to deliver certain services and notices based on the email settings you have selected, or to improve
                                        and tailor the content and general administration of our Site and Services.
                                    </div>
                                </li>
                                <li>
                                    Conduct and Responsibilities
                                    <div class="list-entry-text first">
                                        <ul>
                                            <li>
                                                You are solely responsible for your conduct and any Content that you submit, post,
                                                and display on the Service.
                                            </li>
                                            <li>
                                                You are responsible for any activity or Content associated with your screen name.
                                            </li>
                                            <li>
                                                You are responsible for keeping your password secure.
                                            </li>
                                            <li>
                                                You must be 13 years of age or older to use the Service.
                                            </li>
                                            <li>
                                                You must not submit Content that is unlawful, harmful, threatening, abusive,
                                                harassing, defamatory, pornographic, libelous, invasive of another's privacy, or
                                                harms minors in any way.
                                            </li>
                                            <li>
                                                You must not submit Content that harasses, degrades, intimidates or is hateful
                                                toward an individual or group of individuals on the basis of religion, gender,
                                                sexual orientation, race, ethnicity, age, or disability.
                                            </li>
                                            <li>
                                                You must not submit Content that impersonates any person or entity, including,
                                                but not limited to, an Cityfusion employee, or falsely states or otherwise misrepresents
                                                your affiliation with a person or entity.
                                            </li>
                                            <li>
                                                You must not submit Content that includes non-public personal or identifying information
                                                about another person without that person's explicit consent.
                                            </li>
                                            <li>
                                                You must not submit Content that is false, deceptive, misleading, deceitful,
                                                misinformative, or constitutes "bait and switch".
                                            </li>
                                            <li>
                                                You may not use the Service for any illegal or unauthorized purpose.
                                            </li>
                                            <li>
                                                International users agree to comply with all local laws regarding online
                                                conduct and acceptable content.
                                            </li>
                                            <li>
                                                You must not modify, adapt or hack the Service or modify another website so
                                                as to falsely imply that it is associated with Cityfusion.
                                            </li>
                                            <li>
                                                You must not create or submit unwanted email to any Cityfusion users ("SPAM").
                                            </li>
                                            <li>
                                                You must not create or submit intentionally false or misleading information.
                                            </li>
                                            <li>
                                                You must not transmit any worms or viruses or any code of a destructive
                                                nature.
                                            </li>
                                            <li>
                                                You must not, in the use of the Service, violate any laws in your
                                                jurisdiction (including but not limited to copyright laws).
                                            </li>
                                            <li>
                                                You must get express authorization from Cityfusion before you can use any
                                                portion of the Service, including any Content or use of Cityfusion's API,
                                                for any commercial purpose.
                                            </li>
                                            <li>
                                                Violation of any of these terms will result in the termination of your Cityfusion account.
                                                While Cityfusion prohibits such conduct and content on its site, you understand and agree
                                                that Cityfusion cannot be responsible for the Content posted on its web site and you
                                                nonetheless may be exposed to such materials and that you use the Service at your own risk.
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    General Conditions
                                    <div class="list-entry-text first">
                                        We reserve the right to modify or terminate all or any portion of the Service for any
                                        reason, without notice at any time.
                                        <br/><br/>
                                        We reserve the right to alter these Terms at any time. If the alterations constitute
                                        a material change to the Terms, we will notify you via email (if you've provided us
                                        with your email address) as well as on the Terms page itself. What constitutes a "material
                                        change" will be determined at our sole discretion, in good faith and using common sense and
                                        reasonable judgement.
                                        <br/><br/>
                                        We reserve the right to refuse service to anyone for any reason at any time.
                                        <br/><br/>
                                        We may, but have no obligation to, remove Content and accounts containing Content that we
                                        determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory,
                                        obscene or otherwise objectionable or violates any party's intellectual property or these Terms.
                                        <br/><br/>
                                        Cityfusion's Demand service enables users, performers and others to gather data wherein users
                                        indicate their interest in having specific events occur in their city. Cityfusion does not represent
                                        or warrant that its services are free of inaccuracies, errors, bugs, or interruptions, or are reliable,
                                        accurate, complete or otherwise valid. Cityfusion's services are provided "as is" with no warranty,
                                        express or implied, of any kind and Cityfusion expressly disclaims any and all warranties and conditions,
                                        including, but not limited to, any implied warranty of merchantability, fitness for a particular purpose,
                                        availability, security, title and or non-infringement. In addition, Cityfusion expressly disclaims any and
                                        all representations and warranties that any events will occur or that any performers will perform or fulfill
                                        any stated or implied promises or commitments relating to Cityfusion and Cityfusion Demand. Cityfusion shall
                                        not, under any circumstances, be liable to users for any indirect, incidental, consequential special or
                                        exemplary damages arising out of or in connection with the use of Cityfusion. To the maximum extent permitted
                                        by applicable law, users hereby release and waive all claims against Cityfusion, and its affiliates, officers,
                                        agents, licensors, shareholders and employees from any and all liability for claims, damages (actual and/or
                                        consequential), costs and expenses (including litigation costs and attorneys' fees) of every kind and nature,
                                        arising from or in any way related to use of Cityfusion.
                                    </div>
                                </li>
                                <li>
                                    Copyright
                                    <div class="list-entry-text first">
                                        Although Cityfusion does not claim ownership of Content that its users post, by posting Content to any public area
                                        of the Service, you automatically grant, and you represent and warrant that you have the right to grant to
                                        Cityfusion an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display,
                                        and distribute said Content and to prepare derivative works of, or incorporate into other works, said Content,
                                        and to grant and authorize sub-licenses (through multiple tiers) of the foregoing.
                                        <br/><br/>
                                        If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual
                                        property rights have been otherwise violated, please notify Cityfusion for notice of claims of copyright or other
                                        intellectual property infringement ("Agent"), at copyright at info@Cityfusion.ca.
                                        <br/><br/>
                                        Please provide our Agent with the following Notice:
                                        <br/><br/>
                                        <ul>
                                            <li>
                                                Identify the copyrighted work or other intellectual property that you claim has been
                                                infringed.
                                            </li>
                                            <li>
                                                Identify the material on the Service that you claim is infringing, with enough detail
                                                so that we may locate it on the website.
                                            </li>
                                            <li>
                                                A statement by you that you have a good faith belief that the disputed use is not
                                                authorized by the copyright owner, its agent, or the law.
                                            </li>
                                            <li>
                                                A statement by you declaring under penalty of perjury that (a) the above
                                                information in your Notice is accurate, and (b) that you are the owner of the
                                                copyright interest involved or that you are authorized to act on behalf of that owner.
                                            </li>
                                            <li>
                                                Your address, telephone number, and email address.
                                            </li>
                                            <li>
                                                Your physical or electronic signature.
                                            </li>
                                        </ul>
                                        <br/>
                                        Cityfusion's Agent will forward this information to the alleged infringer.
                                    </div>
                                </li>
                                <li>
                                    Privacy and Information Disclosure
                                    <div class="list-entry-text first">
                                        Cityfusion has established a Privacy Policy to explain to users how their information
                                        is collected and used, located at
                                        <a href="{% url 'staticpage' alias='privacy_policy' %}">{{ "http://"|add:request.META.HTTP_HOST }}{% url 'staticpage' alias='privacy_policy' %}</a>.
                                        Your use of Cityfusion's website(s) or the Service signifies acknowledgment of and agreement
                                        to our Privacy Policy. You further acknowledge and agree that Cityfusion may, in
                                        its sole discretion, preserve or disclose your Content, as well as your information,
                                        such as email addresses, IP addresses, time-stamps, and other user information,
                                        if required to do so by law or in the good faith belief that such preservation
                                        or disclosure is reasonably necessary to: comply with legal process, enforce these
                                        Terms, respond to claims that any Content violates the rights of third-parties, or
                                        protect the rights, property, or personal safety of Cityfusion, its users, or the
                                        general public.
                                    </div>
                                </li>
                                <li>
                                    No Spam Policy
                                    <div class="list-entry-text first">
                                        You understand and agree that sending unsolicited email advertisements to Cityfusion
                                        email addresses or through Cityfusion computer systems, which is expressly prohibited by these
                                        Terms. Any unauthorized use of Cityfusion computer systems is a violation of these Terms and services.
                                    </div>
                                </li>
                                <li>
                                    Termination of service
                                    <div class="list-entry-text first">
                                        You agree that Cityfusion, in its sole discretion, has the right (but not the obligation)
                                        to delete or deactivate your account, block your email or IP address, or otherwise
                                        terminate your access to or use of the Service (or any part thereof), immediately
                                        and without notice, and remove and discard any Content within the Service, for any
                                        reason, including, without limitation, if Cityfusion believes that you have acted
                                        inconsistently with the letter or spirit of the Terms. Further, you agree that
                                        Cityfusion shall not be liable to you or any third-party for any termination
                                        of your access to the Service. Further, you agree not to attempt to use the Service
                                        after said termination.
                                    </div>
                                </li>
                                <li>
                                    Disclaimer of Warranties
                                    <div class="list-entry-text first">
                                        YOU AGREE THAT USE OF THE SERVICE IS ENTIRELY AT YOUR OWN RISK. THE SERVICE ARE
                                        PROVIDED ON AN "AS IS" OR "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND.
                                        ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE WARRANTIES
                                        OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY
                                        RIGHTS ARE EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMITTED BY LAW. TO THE FULLEST
                                        EXTENT PERMITTED BY LAW, CITYFUSION DISCLAIMS ANY WARRANTIES FOR THE SECURITY,
                                        RELIABILITY, TIMELINESS, ACCURACY, AND PERFORMANCE OF THE SERVICE. TO THE FULLEST
                                        EXTENT PERMITTED BY LAW, CITYFUSION DISCLAIMS ANY WARRANTIES FOR OTHER SERVICES OR
                                        GOODS RECEIVED THROUGH OR ADVERTISED ON THE SERVICE, OR ACCESSED THROUGH ANY LINKS
                                        ON THE SERVICE. TO THE FULLEST EXTENT PERMITTED BY LAW, CITYFUSION DISCLAIMS ANY
                                        WARRANTIES FOR VIRUSES OR OTHER HARMFUL COMPONENTS IN CONNECTION WITH THE SERVICE.
                                        Some jurisdictions do not allow the disclaimer of implied warranties. In such
                                        jurisdictions, some of the foregoing disclaimers may not apply to you insofar as
                                        they relate to implied warranties.
                                    </div>
                                </li>
                                <li>
                                    Limitations of Liability
                                    <div class="list-entry-text first">
                                        UNDER NO CIRCUMSTANCES SHALL CITYFUSION BE LIABLE FOR DIRECT, INDIRECT, INCIDENTAL,
                                        SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES (EVEN IF CITYFUSION HAS BEEN ADVISED OF
                                        THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM ANY ASPECT OF YOUR USE OF THE
                                        SERVICE, WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF THE SERVICE, FROM INABILITY
                                        TO USE THE SERVICE, OR THE INTERRUPTION, SUSPENSION, MODIFICATION, ALTERATION, OR
                                        TERMINATION OF THE SERVICE. SUCH LIMITATION SHALL ALSO APPLY WITH RESPECT TO DAMAGES
                                        INCURRED BY REASON OF OTHER SERVICES OR PRODUCTS RECEIVED THROUGH OR ADVERTISED IN
                                        CONNECTION WITH THE SERVICE OR ANY LINKS ON THE SERVICE, AS WELL AS BY REASON OF ANY
                                        INFORMATION OR ADVICE RECEIVED THROUGH OR ADVERTISED IN CONNECTION WITH THE SERVICE
                                        OR ANY LINKS ON THE SERVICE. THESE LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT
                                        PERMITTED BY LAW. In some jurisdiction, limitations of liability are not permitted.
                                        In such jurisdictions, some of the foregoing limitation may not apply to you.
                                    </div>
                                </li>
                                <li>
                                    Indemnity
                                    <div class="list-entry-text first">
                                        You agree to indemnify and hold Cityfusion, its officers, subsidiaries,
                                        affiliates, successors, assigns, directors, officers, agents, service providers,
                                        suppliers and employees, harmless from any claim or demand, including reasonable
                                        attorney fees and court costs, made by any third party due to or arising out of
                                        Content you submit, post or make available through the Service, your use of the
                                        Service, your violation of the Terms, your breach of any of the representations
                                        and warranties herein, or your violation of any rights of another.
                                    </div>
                                </li>
                                <li>
                                    General information
                                    <div class="list-entry-text first">
                                        The Terms constitute the entire agreement between you and Cityfusion and govern your
                                        use of the Service, superseding any prior agreements between you and Cityfusion. The
                                        failure of Cityfusion to exercise or enforce any right or provision of the Terms
                                        shall not constitute a waiver of such right or provision. If any provision of the
                                        Terms is found by a court of competent jurisdiction to be invalid, the parties
                                        nevertheless agree that the court should endeavor to give effect to the parties'
                                        intentions as reflected in the provision, and the other provisions of the Terms
                                        remain in full force and effect. You agree that regardless of any statute or law to
                                        the contrary, any claim or cause of action arising out of or related to use of the
                                        Service or the Terms must be filed within one (1) year after such claim or cause of
                                        action arose or be forever barred.
                                    </div>
                                </li>
                                <li>
                                    Violations of Terms and Liquidated Damages
                                    <div class="list-entry-text first">
                                        Please report any violations of the Terms, by flagging the posting(s) for review,
                                        or by emailing to abuse at <a href="mailto:info@Cityfusion.ca">info@Cityfusion.ca</a>. Our failure to act with respect
                                        to a breach by you or others does not waive our right to act with respect to
                                        subsequent or similar breaches.
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock page %}