{% load date_formatting %}
{% load cropping %}
{% load event_tags %}

<div class="entry-info home-page">
    <div class="entry-img-prev">
        {% if event.picture %}
            <img src="{% cropped_thumbnail event.image "cropping" width=60 %}" height="60" width="60">
        {% else %}
            <img src="{{STATIC_URL}}images/default-event.jpg" height="60" width="60" alt="">
        {% endif %}
    </div>
    <div class="entry-details-wrapper">
        <div class="title">
            <a href="{% event_link event %}">
                {{event.name}}&nbsp;
            </a>                    
        </div>
        <div class="entry-date">
            {{event.start_time|date:"l, F d, Y"}}
            <span class="delimeter">|</span>
            {{event.start_time|just_time}} - {{event.end_time|just_time}}
        </div>
        <div class="entry-description">                    
            {{ event.venue.name }}, {% if event.venue.street %}{% if event.venue.street_number %}{{ event.venue.street_number }} {% endif %}{{ event.venue.street }}, {% endif %}{{ event.venue.city.name_std }}
        </div>
    </div>
    <div class="clr"></div>
</div>