{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load setup_advertising %}

{% block head %}
    <link href="{{STATIC_URL}}styles/advertising-setup.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/accounts/accounts.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}styles/crop.css" rel="stylesheet" type="text/css" />

    <script src="{{STATIC_URL}}js/jquery.balloon.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/searchpad/jquery.qap_dropdown.js" type="text/javascript"></script>    
    <script src="{{STATIC_URL}}js/create_event/venue_account_owner.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/date-range.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/advertising/setup-page.js" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "admin_advertising" %}
        <div class="box visible options">
            <table class="tabs" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <a href="{% url 'admin_advertising' %}"><span>Advertising list</span></a>
                    </td>
                    <td>
                        <a href="{% url 'admin_expired_advertising' %}"><span>Expired Ads</span></a>
                    </td>
                    <td class="current">
                        <span>Create new campaign</span>
                    </td>
                    <td>
                        <a href="{% url 'admin_advertising_review' %}"><span>Review ads</span></a>
                    </td>
                </tr>                
            </table>
            <div class="box visible advertising-setup">
                <div class="main-content account-options">
                    {%if form.errors %}
                        <div class="errors" style="border:1px solid RED;border-radius:4px;">
                            <ul style="list-style-type: none;">
                                <li id="all-info">
                                    {% for error in form.non_field_errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.name.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.active_to.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                                <li id="all-info">
                                    {% for error in form.website.errors %}
                                        <span class="error">{{ error }}</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>                            
                    {% endif %}
                    <form  enctype="multipart/form-data" method="post" name="advertising-setup" >
                        {% csrf_token %}
                        <div class="campaign-name">
                            Name of Campaign                        
                            {{ form.name }}
                            Enter the name of your campaign.
                        </div>

                        <div class="campaign-owner venue-account-owner">
                            Campaign owner
                            {{ form.venue_account }}
                        </div>

                        <div class="campaign-name">
                            Campaign website URL
                            {{ form.website }}
                        </div>

                        <div class="campaign-active-to">
                            Will be active
                            {{ form.active_from }} - {{ form.active_to }}
                        </div>

                        {% setup_advertising_types %}
                        {% setup_advertising_upload %}
                        {% setup_advertising_regions %}

                        <input type="submit" name="submitoptions" class="button standart submit" value="Save" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}