{% extends 'cf-admin/base.html' %}
{% load event_tags %}
{% load admin_menu %}
{% load advertising_tags %}

{% block head %}
    <link href="{{STATIC_URL}}styles/profile-table.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{STATIC_URL}}styles/select2.css" rel="stylesheet" type="text/css" />

    <script src="{{STATIC_URL}}fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/advertising/advertising-images.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/select2.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/actions/advertising-list-page.js" type="text/javascript"></script>
{% endblock %}

{% block page %}
    <div class="tabs-container">
        {% cf_admin_menu "admin_advertising" %}
        <div class="box visible options">
            <table class="tabs" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <a href="{% url 'admin_advertising' %}"><span>Active Advertising List</span></a>
                    </td>
                    <td class="current">
                        <span>Expired Ads</span>
                    </td>
                    <td>
                        <a href="{% url 'admin_advertising_setup' %}"><span>Create new campaign</span></a>
                    </td>
                    <td>
                        <a href="{% url 'admin_advertising_review' %}"><span>Review ads</span></a>
                    </td>
                </tr>
            </table>
            <div class="box visible advertising-stats">
                {% admin_advertising_campaigns campaigns_filter %}
            </div>
        </div>
    </div>
{% endblock %}